{% extends 'base.html' %}
{% load static %}

{% block page_name %}
吳玲瑤專欄
{% endblock page_name %}

{% block content %}
    <div class="card border-primary">
        <div class="card-header bg-primary text-center">
            <h2>幽默過日子</h2>                     
        </div>
        <div class="card-body">
            <div class=text-center>  
                <div>Jun 24, 2017</div>
                <div>吳玲瑤</div>     
                <div>
                    <img src="{% static 'images/culture/wulinyao.webp'%}" class="img-fluid">
                </div>
                <p></p>         
                <div>
                    小雨點基金會(J & H Foundation)於2017年6月24日(周六)主辦免費藝文講座(Art and Culture Seminar)，特別邀請到大名鼎鼎的幽黙作家吳玲瑤主講: 
                    幽默過日子(Add More Humor To Your Life)，地點在：Cupertino Quinlan Community Center 昆蘭社區中心。「幽默過日子」分分鐘鐘讓您爆笑不停。
                </div>
                <p></p> 
                <a href="https://youtu.be/DhN5KuQDqMo" target="_blank" class="card-link btn btn-dark m-2">Watch Video</a>
                <!--               
                <iframe width="400" height="300"
                src="https://www.youtube.com/embed/1Ii-k7jt1pM?autoplay=1&mute=1">                
                </iframe>--> 
            </div>
            <p></p>
            <div>
                小雨點基金會(J & H Foundation)於2017年6月24日(周六)主辦免費藝文講座(Art and Culture Seminar)，特別邀請到大名鼎鼎的幽黙作家吳玲瑤主講: 幽默過日子(Add More Humor To Your Life)，地點在：Cupertino Quinlan Community Center昆蘭社區中心。「幽黙是漫妙的智慧，也是生活的潤滑劑」。「幽默過日子」分分鐘鐘讓您爆笑不停。

                吳玲瑤，西洋文學碩士，海外華文女作家協會第十屆會長，北美華文作家協會創會人暨創會副會長。文筆以機智幽默見長，研究這一代留學生歷史，吳玲瑤的作品是不可或缺的資料。
                近年來在世界各地「笑裡藏道」的幽默演講受到熱烈追捧，能帶給人快樂與正面能量。<br>

                這次演講，吳玲瑤將由四大面向來分享幽默的人生:<br>
                (1)幽默之必要，快樂之必要 - 在美國生活多年，最能體會幽默這種正能量，他們對幽默已經到了無幽默無以為歡的地步，生活因幽默而美麗而有意義，人人都相信幽默的獨特魅力，
                不僅能應付生活中的各種挑戰，還能改變一個人的人生觀。<br>
                王爾德說的：「快樂是唯一值得活的事。」（Pleasure is the only thing to live for）所以我們業學習笑學習幽默。人生中人人都有Trouble，一直去煩惱就是Make it Double。<br>

                (2)幽默處處有 - 微小的幸福就在身邊，容易滿足就是天堂，強調百善笑為先，再笑保健康，三笑好人緣。廣告的幽默、張貼的幽默、夫妻間的幽默、政治幽默等等。<br>

                (3)明天會更老 - 面對年紀逐漸變大容顏變老，幽默以對是智慧的最高表現，當青春不在外在有了改變，歲月無情，靠自己有情。具有幽默感的人最富有個人魅力，
                不僅能與別人愉快相處，更重要的是擁有一個快樂的人生。<br>

                (4)幽默技巧面面觀 – 1.幽默是不協調的結果; 2.幽默是荒謬的解藥;3.幽默是不能解釋的;4.引喻失意的幽默; 5.幽默是說真話;6.巧妙的比喻有幽默效果;
                7.幽默是一種優越感作祟;8.聽錯話看錯字的幽默;9.誇張的比喻造成幽默效果;10.想要幽默一下，得有自嘲得雅量。<br>

                幽黙作家吳玲瑤著有「女人的幽默」、「明天會更老」、「笑裡藏道」等五十幾本書。「美國孩子中國娘」登上美國中文暢銷排行榜第一名。
                她是北加州北一女校友會創會理事長，曾主持KTSF電視台「文化麻辣燙」極受歡迎。
            </div>
        </div>
    </div>
{% endblock content %}