<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/jnh.css' %}">
    <meta name='referrer' content='no-referrer'/>
  </head>
  <body>
    <div class="container"> 
      <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'images/logo.webp'%}" width="42" height="33" alt="">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">主頁</a>
              </li>               
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">健康</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'medicineseries' %}">健康講座</a></li>
                  <li><a class="dropdown-item" href="{% url 'healthtalks' %}">養生談</a></li>
                  <li><a class="dropdown-item" href="{% url 'beautycare' %}">美容保養</a></li>
                  <!--<li><a class="dropdown-item" href="{% url 'physicalcareandrehabitation' %}">復健和保建</a></li>
                  <li><a class="dropdown-item" href="{% url 'newhealthideas' %}">健康新點子</a></li>    -->              
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">文化</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'ColumnbyLingyaoWu' %}">吳玲瑤專欄</a></li>
                  <li><a class="dropdown-item" href="{% url 'JHFCultureTalks' %}">小雨點文化談</a></li>
                  <li><a class="dropdown-item" href="{% url 'JHFActivities' %}">小雨點活動</a></li>
                  <li><a class="dropdown-item" href="{% url 'CulturearoundtheWorld' %}">文化天地</a></li>
                  <li><a class="dropdown-item" href="#">藝文新點子</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">音樂</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'jhfchoir' %}">小雨點合唱團 </a></li>
                  <li><a class="dropdown-item" href="{% url 'jhfcharityconcerts' %}">小雨點公益音樂會</a></li>                  
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">活動</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'chinesenewyear' %}" >小雨點新年活動</a></li>
<!--
                  <li><a class="dropdown-item" href="{% url 'ShaoKongchuanBelCanto' %}">邵孔川美聲教學</a></li>  
                  -->
                  <li class="dropdown-submenu">
                    <a class="dropdown-item dropdown-toggle" href="#">邵孔川</a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'ShaoKongchuanBelCanto'%}">邵孔川美聲教學</a></li>
                      <li><a class="dropdown-item" href="{% url 'ShaoFatherAndDaughter' %}">邵氏父女演唱會</a></li>
                    </ul>
                  </li>

                  <li class="dropdown-submenu">
                    <a class="dropdown-item dropdown-toggle" href="#">眭澔平</a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'suihaopingtoastmasters'%}">眭澔平演講會</a></li>
                      <li><a class="dropdown-item" href="{% url 'suihaopingconcert' %}">眭澔平演唱會</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'Missions'%}">目標和宗旨</a>
              </li>  
              <li class="nav-item">
                <a class="nav-link" href="{% url 'ContactUs'%}">聯絡我們</a>
              </li>             
            </ul>
          </div>
        </div>
      </nav>            
      
      <!-- Jumbotron -->      
      <div class="p-2 text-center bg-image rounded-3" 
        style="background-image: url({{headerimage}});
          background-size: cover;
          min-height: 180px;">
        <div class="mask" >
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white">
                    <h1 class="mb-3">小雨點基金會</h1>
                    <h2 class="mb-3">{%block page_name %}{% endblock %}</h2>
                    <!-- <a data-mdb-ripple-init class="btn btn-outline-light btn-lg" href="#!" role="button">Call to action</a> -->
                </div>
            </div>
        </div>
      </div>      
      <!-- Jumbotron -->
      <div class="jnh-content">
        {% block content %}
        {% endblock %}
      </div>
      <footer width="100%" class="bg-primary text-center">
        <p></p>
        <h4 class="p-3">	
          © 2024 J&H Foundation</h4>
        <p></p>
      </footer>
    </div>
  </body>
</html>