{% extends 'base.html' %}
{% load static %}

{% block page_name %}
醫學講座
{% endblock page_name %}

{% block content %}
    <div class="card border-primary">
        <div class="card-header bg-primary text-center">
            <h2>和你的身體做朋友-第一課</h2>
                      
        </div>
        <div class="card-body">
            <div class=text-center>
                <div>Aug 22, 2020</div>
                <div>吳亞儒 中醫師，L.Ac.,DAOM</div>
                <img src="{% static 'images/health/drwu.webp'%}" class="img-fluid">    
            </div>
            <p></p>
            <div>   
                <div class="text-center">
                    
                    和你的身體做朋友第一課介紹身體的9個容易被堵的部位，如何以呼吸運氣去體會各部位的情形，並改善自己的健康。
                </div>
            </div>
            <p></p>
            <div class="text-center">
                
                <a href="https://youtu.be/HZ7-X8aWXyg" class="card-link btn btn-dark m-2" target="_blank">Watch Video</a>
            </div>
            <p></p>
            <div>   
                <p>                           
                這節課教您如何使用自我意識，站立冥想找到最舒適的“靜止”姿勢，以使您的身體在餘生中都得到照顧。 
                我們將介紹人體很容易地被堵住的9個區域； 練習減少對外的注意而以看，聽，聞，嚐自己的內在情緒，聽取內部氣息的流動。 
                我們將練習呼吸並感覺您自己的皮膚運動。 我們還將練習如何計算進食時咀嚼次數以及如何做肩膀運動。
                </p>
                本系列包括以下課程：<br>
                <ol>
                    <li>
                        簡介：如何感覺您的身體，為什麼我們與身體斷開連接，如何通過呼吸感覺皮膚運動
                    </li>
                    <li>
                        如何坐著：通過坐著感覺自己的身體
                    </li>
                    <li>
                        站立冥想：通過站立感覺自己的身體
                    </li>
                    <li>
                        慢走：應跟隨身體的運動節奏，而不是要求。是移動您的整個脊椎基礎
                    </li>
                    <li>
                        整個脊柱運動基礎
                    </li>
                    <li>
                        糖尿病的特殊脊柱運動
                    </li>
                    <li>
                        感受肌肉緊張的基本放鬆技巧
                    </li>
                    <li>
                        伸展基礎
                    </li>
                    <li>
                        3D自我調整技術 - 找到關節最放鬆的位置
                    </li>
                    <li>
                        感受自己的內臟器官 - 成為身體一生的好朋友
                    </li>
                </ol>
                本系列將以問答環節結束。
            </div>            
        </div>
    </div>
{% endblock content %}