{% extends 'base.html' %}
{% load static %}

{% block page_name %}
醫學講座
{% endblock page_name %}

{% block content %}
    <div class="card border-primary">
        <div class="card-header bg-primary text-center">
            <h2>中醫食療</h2>
                      
        </div>
        <div class="card-body">
            <div class=text-center>
                <div>Jul 26, 2020</div>
                <div>吳亞儒 中醫師，L.Ac.,DAOM</div>
                <img src="{% static 'images/health/drwu.webp'%}" class="img-fluid">    
            </div>
            <p></p>
            <div>                             
                中醫食療的訣竅 是如何通過判定個人體質，然後選擇適合自己的食療方式。<br>
                在這個中醫食療講座裡，有加州針灸執照的針灸師吳亞儒中醫師， 通過講解如何按照中醫觀念來判定你的體質，
                然後依食物的四性五味來選擇適合你的食療。只有適合你的才是最好的。食療也是如此。                
            </div>
            <p></p>
            <div class="text-center">
                
                <a href="https://youtu.be/cKRzCxAKQCg" class="card-link btn btn-dark m-2" target="_blank">Watch Video</a>
            </div>
            <p></p>
            <div>     
                <p>                         
                    食療是中醫養生的重要組成部分。<br>
                    吃什麼；吃多少；怎麼吃 才是對你的健康最好的呢？真正的答案是：怎麼吃的適合你的體質才能對你的健康更好。
                </p>
                <p>
                    中國人的養生習慣，常常就是問該吃點什麼補一補？<br>
                    當今社會，在營養過剩的情況下，加上各種補品；維他命；各種神奇的蔬果和營養品的宣傳，都在大行其道。但很多人都沒有從中醫的角度去了解你吃的到底適不適合你的身體。<br>
                    東西雖好，真的適合你嗎？ ！<br>
                    中醫講的食療實際上是吃適合你身體體質狀態的食物，對你才是最"補"的。<br>
                    中醫認為，吃的不合適，人參也是毒品；吃的合適，砒霜也能治病。<br>
                    但吃什麼，吃多少，怎麼吃，根據體質來衡量吃的是否合適，這些都需要一些中醫的基本常識。<br>
                    當然了，中醫有一些基本的食療有利於健康的概念，比如說要吃五穀“雜”糧；比如說飲食要葷素均衡；比如說要吃五色以養五行五臟等等。<br>
                </p>
                <p>
                    吳亞儒中醫師為你逐個講解,如何學會吃適合你自己，最有利你健康的食物。這才是真正的中醫食療。
                </p>                
            </div>
            
        </div>
    </div>
{% endblock content %}