{% extends 'base.html' %}
{% load static %}

{% block page_name %}
慶新年
{% endblock page_name %}

{% block content %}
    <div class="card border-primary">
        <div class="card-header bg-primary text-white  text-center">
            <h4>金龍迎春慶新年(2024)</h4>                      
        </div>
        <div class="card-body">
            <div class=text-center>
                <h4>2024-01-28</h4>
            </div>
            <div >小雨點基金會28日在庫比蒂諾昆蘭社區中心舉辦「金龍迎春」活動慶祝農曆新年，展示中華傳統琴棋書畫四藝、促進文化代際傳承。<br>

                活動現場有請到樂舞團、FASCA海外青年文化志工舞獅隊、巴洛阿圖舞鼓隊等團體表演祥獅獻瑞、歡慶大鼓、龍的傳人-鐵扇舞、廟會彩帶舞等精彩內容。還有扯鈴、少林雙刀、太極、二胡、古箏等表演。<br>
                
                現場有書法老師當場揮毫，為大家書寫春聯、福字和書籤。小朋友可以在遊藝區學畫祥龍圖案，也可以體驗扯鈴、下象棋等傳統遊戲。排隊入場的觀眾，不僅每人都可以拿到一個紅包，還有一張票可以參加抽大獎活動。<br>
                
                活動現場氣氛熱烈。很多帶著孩子的年輕媽媽說，是從家裡的長輩那裡得到信息來這裡參加活動的，感謝小雨點基金會舉辦這樣的活動，讓出生在美國的孩子可以感受到春節文化的民俗和樂趣。<br>
                
                僑委會海外種子文化老師王淑美畢業於台灣藝術大學舞蹈系。她指出，應該要讓各個族裔的人都能看到中華傳統的舞蹈，所以這次有帶領團隊來表演鐵扇舞和廟會舞。她還同時帶來台灣阿嬤的紅花布來展示、寓意喜氣洋洋的春天，充滿古早的味道。<br>
                
                小雨點基金會創辦人徐北辰和Olivia 張表示，十幾年前創立小雨點的原因，最早是因為婆婆希望可以為長者多組織一些活動。最初的活動主題都以喜樂和健康類為主。但慢慢延伸到越來越多的社區服務活動，現在更多的是在做文化的傳承方面的活動，「讓中華文化也可以在美洲生根。」
                <p></p>
            </div>  
            <div class=text-center>    
                <div class="responsive">
                    <div class="gallery">
                        <img src="{% static '/images/chinesenewyear/chinesenewyear2024-1.webp' %}"  width="600" height="400">                    
                    </div>
                    <div>小雨點基金會創辦人徐北辰、Olivia張與祥獅表演的青年志工合影。</div>
                </div>
                <div class="responsive">
                    <div class="gallery">
                        <img src="{% static '/images/chinesenewyear/chinesenewyear2024-0.webp' %}"  width="600" height="400">                    
                    </div>
                    <div>樂舞團表演鐵扇舞和台灣紅花布。</div>
                </div>
                <div class="responsive">
                    <div class="gallery">
                        <img src="{% static '/images/chinesenewyear/chinesenewyear2024-2.webp' %}"  width="600" height="400">                    
                    </div>
                    <div>鄭有岩老師揮毫書寫春聯和書籤</div>
                </div>
                <div class="responsive">
                    <div class="gallery">
                        <img src="{% static '/images/chinesenewyear/chinesenewyear2024-3.webp' %}" width="600" height="400">                    
                    </div>
                    <div>巴洛阿圖舞鼓隊在活動上表演</div>
                </div>            
                <div class="clearfix"></div>
            </div>
            <div class="text-center">
                <div>
                    <div>
                        <h4>【僑務電子報】小雨點基金會 「金龍迎春」聯歡活動</h4>
                    </div>
                    <div class="embed-responsive embed-responsive-4by3">                           
                        <iframe width="656" height="369" src="https://www.youtube.com/embed/JBWxqODwn0A" title="【僑務電子報】小雨點基金會 「金龍迎春」聯歡活動" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>  
                    </div>                    
                </div>
                <div>
                    <div>
                        <h4>【金龍迎春】開春歡慶鼓- Palo Alto 鼓舞健身團</h4>
                    </div>
                    <div class="embed-responsive embed-responsive-4by3">                           
                        <iframe width="656" height="369" src="https://www.youtube.com/embed/nFsGedHgw1I" title="【金龍迎春】開春歡慶鼓  Palo Alto 鼓舞健身團" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>                   
                    </div>                    
                </div>
                <div>
                    <div>
                        <h4>【金龍迎春】高山青 - Palo Alto 鼓舞健身團</h4>
                    </div>
                    <div class="embed-responsive embed-responsive-4by3">                           
                        <iframe width="656" height="369" src="https://www.youtube.com/embed/qEspk95Pko4" title="【金龍迎春】高山青   Palo Alto 鼓舞健身團" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>                   
                    </div>                    
                </div>
                <!--
                <div>
                    <div>
                        <h4>【金龍迎春】鐵扇舞(龍的傳人) - 樂舞者</h4>
                    </div>
                    <div class="embed-responsive embed-responsive-4by3">                           
                        <iframe width="400" height="300" src="https://www.youtube.com/embed/neR36EJxpNY?autoplay=0&mute=1" allowfullscreen>
                        </iframe>                   
                    </div>                    
                </div>-->
                <div>
                    <div>
                        <h4>【金龍迎春】鈴陣迎春 - Fremont 中文學校扯鈴隊</h4>
                    </div>
                    <div class="embed-responsive embed-responsive-4by3">                           
                        <iframe width="656" height="369" src="https://www.youtube.com/embed/wkZ15mJbZSA" title="【金龍迎春】   Fremont 中文學校扯鈴隊" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>                 
                    </div>                    
                </div>
                <div>
                    <div>
                        <h4>【金龍迎春】沈芸輝：這世界有那麽多人</h4>
                    </div>
                    <div class="embed-responsive embed-responsive-4by3">                           
                        <iframe width="656" height="369" src="https://www.youtube.com/embed/NB3LeHbyPtI" title="【金龍迎春】沈芸輝：這世界有那麽多人" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>                   
                    </div>                    
                </div>
                <div>
                    <div>
                        <h4>【金龍迎春】二胡表演 - SCCM 中樂團</h4>
                    </div>
                    <div class="embed-responsive embed-responsive-4by3">                           
                        <iframe width="656" height="369" src="https://www.youtube.com/embed/Oyi_Q14nHOs" title="【金龍迎春】二胡表演   SCCM 中樂團" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>                  
                    </div>                    
                </div>
                <div>
                    <div>
                        <h4>【金龍迎春】古箏表演 - 傅旭芳古箏樂團</h4>
                    </div>
                    <div class="embed-responsive embed-responsive-4by3">                           
                        <iframe width="656" height="369" src="https://www.youtube.com/embed/WGj2Gtjh4-A" title="【金龍迎春】古箏表演   傅旭芳古箏樂團" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>                  
                    </div>                    
                </div>
                <!--
                <div>
                    <div>
                        <h4>【金龍迎春】廟會歡慶彩帶舞 - 樂舞者</h4>
                    </div>
                    <div class="embed-responsive embed-responsive-4by3">                           
                        <iframe width="400" height="300" src="https://www.youtube.com/embed/mO_5TDmFcWQ?autoplay=0&mute=1" allowfullscreen>
                        </iframe>                   
                    </div>                    
                </div>-->
                
                <div>
                    <div>
                        <h4>【金龍迎春】少林雙刀 – 王于凡</h4>
                    </div>
                    <div class="embed-responsive embed-responsive-4by3">                           
                        <iframe width="656" height="369" src="https://www.youtube.com/embed/0sZUB9c_f50" title="【金龍迎春】少林雙刀   王于凡" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>                  
                    </div>                    
                </div>
                <div>
                    <div>
                        <h4>【金龍迎春】太極拳</h4>
                    </div>
                    <div class="embed-responsive embed-responsive-4by3">                           
                        <iframe width="656" height="369" src="https://www.youtube.com/embed/TPgUJpPXGnE" title="【金龍迎春】太極拳表演" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>                   
                    </div>                    
                </div>
                <!--
                <div>
                    <div>
                        <h4>【金龍迎春】人間游龍 - 風中之羽</h4>
                    </div>
                    <div class="embed-responsive embed-responsive-4by3">                           
                        <iframe width="400" height="300" src="https://www.youtube.com/embed/uT68JEDhPaY?autoplay=0&mute=1" allowfullscreen>
                        </iframe>                   
                    </div>                    
                </div>-->                
               
            </div>
        </div>


    </div>

{% endblock content%}