{% extends 'base.html' %}
{% load static %}

{% block page_name %}
慶新年
{% endblock page_name %}

{% block content %}
    <div class="card border-primary">
        <div class="card-header bg-primary text-white  text-center">
            <h4>小雨點基金會慶祝農曆新年 社區民眾參加兔年聯歡活動</h4>                      
        </div>
        <div class="card-body">
            <div class="text-center">
                <h4>2023-01-17</h4>
                <img src="{% static '/images/chinesenewyear/chinesenewyear2023main-1.png' %}"  width="400"> 
                <img src="{% static '/images/chinesenewyear/chinesenewyear2023main-2.png' %}"  width="400" > 
                
            </div>
            <p></p>
            <div >慶祝農曆新年，小雨點基金會於1月14日下午在舉辦「兔年春節聯歡」活動，當天邀請灣區書法、國畫老師現場揮毫作畫贈送給到場鄉親，現場春聯貼滿四周，到處充滿新春兔年喜氣。<br>

                小雨點基金會(J & H Foundation) 成立於2012 年，是美國註冊的非營利組織。基金會的宗旨是幫助社區成員過健康快樂的生活。基金會負責人徐北辰表示，經歷兩年多的新冠疫情已逐漸紓緩，
                新春來臨之際祝福大家兔年福氣好運，期待藉由書法老師現場揮毫寫春聯吉祥話，給予鄉親的祝福及關懷，預祝新的一年都能事事如意、身體健康，共同迎接健康、平安、歡樂的「玉兔年」。<br>
                
                灣區200位鄉親到場參加，並觀賞書法、國畫老師的作品，小朋友也在家長的陪同下，畫畫剪貼各式各樣的美勞兔子作品，更有小朋友臨摹春聯學習書法，使中華傳統的民俗，
                無形之中也漸漸傳承到下一代。生動活潑的卡通兔子書籤，更是學童們喜愛與收藏的紀念品。<br>
                
                活動中許多三代同堂的家庭都歡喜參加，主辦單位也準備了牡丹絹扇及畫仙板供幸運抽獎，在歡樂與祝福聲中，熱鬧又有意義的新春活動圓滿結束。
                <p></p>
            </div>  
            <div class="text-center">    
                <div class="responsive">
                    <div class="gallery">
                        <img src="{% static '/images/chinesenewyear/chinesenewyear2023-0.jpg' %}"  width="600" height="400">                    
                    </div>
                    <div>小雨點基金會負責人徐北辰(左二)與書法老師合影</div>
                </div>
                <div class="responsive">
                    <div class="gallery">
                        <img src="{% static '/images/chinesenewyear/chinesenewyear2023-1.jpg' %}"  width="600" height="400">                    
                    </div>
                    <div>灣區200位鄉親到場參加</div>
                </div>
                <div class="responsive">
                    <div class="gallery">
                        <img src="{% static '/images/chinesenewyear/chinesenewyear2023-2.jpg' %}"  width="600" height="400">                    
                    </div>
                    <div>小朋友畫畫剪貼各式各樣的美勞兔子作品</div>
                </div>    
                <div class="responsive">
                    <div class="gallery">
                        <img src="{% static '/images/chinesenewyear/chinesenewyear2023-3.jpg' %}"  width="600" height="400">                    
                    </div>
                    <div>灣區鄉親到場參加</div>
                </div>             
                <div class="clearfix"></div>
                <div>
                    <div class="embed-responsive embed-responsive-4by3">                           
                        <iframe width="400" height="300" src="https://www.youtube.com/embed/wgnlJueXmNk?autoplay=1&mute=1" allowfullscreen>
                        </iframe>               
                    </div> 
                </div>
            </div>
        </div>


    </div>

{% endblock content%}