{% extends 'base.html' %}
{% load static %}

{% block page_name %}
醫學講座
{% endblock page_name %}

{% block content %}
    <div class="card border-primary">
        <div class="card-header bg-primary text-center">
            <h2>寒</h2>
                      
        </div>
        <div class="card-body">
            <div class=text-center>
                <div>Dec 27, 2020</div>
                <div>吳亞儒 中醫師，L.Ac.,DAOM</div>
                <img src="{% static 'images/health/drwu.webp' %}" class="img-fluid">
                <p></p>
                <div>睡眠、飲食、壓力、鍛鍊不足或不當會造成身體的虛寒緊濕，減低新陳代謝、修復再生和免疫力。這次講課教大家寒的種類，相關穴位，如何依據中醫藥理調理身體狀態，攝取營養，改變生活習慣;或以艾灸，針灸治療。</div>
            </div>
        </div>
        <div class="text-center">
            <div class="embed-responsive embed-responsive-4by3">                           
                <iframe width="400" height="300" src="https://www.youtube.com/embed/ztggRURwtJk?autoplay=1&mute=1" allowfullscreen>
                </iframe>                   
            </div>
        </div>
        <p></p>
        <div>
            很多人很容易疲倦怕冷，或者感覺“心”裡寒，很不舒服，手腳冰涼，或有腹脹，沒有胃口，睡一夜還是兩腳冰涼.....。<br>

            陰寒的日子和天氣變化對於素體陽虛，氣血不足，或是心脾兩虛，以及脾虛濕盛的人，影響最大。因為體內陽氣不足，陰寒（濕）氣過重，與體外陰寒之氣相應，容易發病。<br>

            季節變化越快，要求人的植物神經調節功能越多，相應的調節能力也要快，要強。而只有體質強壯的人，才有這樣的植物神經調節能力。
            平時體質偏弱的人，不論是中醫講的那一類「虛弱」，就是因為植物神經功能差，體質才會差。<br>

            中醫保健上，可以艾灸肚臍關元，振奮身體陽氣，加強植物神經功能，來改善身體狀況，尤其是在二十四節氣的前後幾天，幫助身體適應節氣變化。<br>

            如果身體沒有原因的突然感覺不舒服，往往都是在24節氣前後。通過身體的不舒服，相應的節氣，可以根據中醫理論，推導出來身體的寒熱虛實或者五臟失衡。
            如果24節氣，大多數的節氣變化，都會引起身體不適，則是體質偏虛，氣血不足，身體不能調適。<br>

            整個冬季都可以艾灸調理。冬季屬水，相應於人體的“腎”。冬季艾灸關元，有補腎的功效。尤其是更年期，腎虛，還有經常熬夜晚睡的人，
            艾灸可以幫助陽氣回納，收藏，對第二年的身體多有益處，尤其是容易感冒和有過敏的人，療效顯著。<br>

            如果素體陽虛，而且已經在艾灸肚臍關元穴的朋友，還有怕冷，倦怠的症狀，那就需要加灸督脈振奮陽氣。可以懸灸（不接觸身體，用艾條灸）：<br>
            大椎<br>
            後背心（胸椎3-5節）<br>
            命門+腎腧<br>
            八髎穴v
            一個部位艾灸15-20分鐘或者局部溫暖舒適，灸感透入身體。<br>
            一次2-3個區域或者自己舒服為度。<br>

            不過艾灸時要注意防風保暖，不要受涼。艾灸督脈以正午（11-1pm）效果最佳。<br>
        </div>
    </div>
{% endblock content %}