{% extends 'base.html' %}
{% load static %}

{% block page_name %}
吳玲瑤專欄
{% endblock page_name %}

{% block content %}
    <div class="card border-primary">
        <div class="card-header bg-primary text-center">
            <h2>淘對時間的困惑</h2>                     
        </div>
        <div class="card-body">
            <div class=text-center>  
                <div>Dec 17, 2020</div>
                <div>吳玲瑤</div>     
                <div>
                    <img src="{% static 'images/culture/wulinyao.webp'%}" class="img-fluid">
                </div>
                <p></p>         
                <div>作家吳玲瑤以幽默風趣的口吻細說時間的困惑。談笑中解讀“時間快慢是感覺? 還是有科學根據？</div>
                <p></p> 
                <a href="https://www.youtube.com/watch?v=eTHiu5-_sfI" target="_blank" class="card-link btn btn-dark m-2">Watch Video</a>
                
            </div>
            <p></p>
            <div>
                小時候寫作文喜歡裝成熟，老氣橫秋地形容時間:「光陰似箭、歲月如梭、白駒過隙、日光荏苒」，其實並沒有真正體會歲月的流逝似箭如梭，日子還是天天在盼望暑假寒假，
                盼著過年的紅包，時間過得奇慢無比。每一個等待都得等好久好久，誠如羅大佑的《童年》:「等待著下課，等待著放學，等待遊戲的童年，隔壁班的那個女孩怎麼還沒經過我的窗前?」<br>
                童年的十分鐘可以過得天長地久，像一列慢慢行駛的火車。也不知道從什麼時候開始，時間像個賊，偷走我們的曾經，隨著年齡增長，突然變成高速飛奔的快車，日子在閃神間消失，
                抓也抓不住，越來越快一發不可收拾?使我們對時間充滿了困惑。文學中對歲月的流逝是一再被提及的話題，張愛玲曾說過:「悠長得像永生的童年，相當愉快地度日如年…然後時間加速，
                越來越快」，在《半生緣》裡也提及:「日子過得真快，對於中年以後的人來講，十年八年好像是指逢間的事。」<br>
                年紀大了對時光不待人滿懷感慨，發出沒有答案的天問，歲月去哪了，還沒好好感受年輕就老了，還沒好好看世界眼睛就花了。有說青春像衛生紙，看著挺多，用著用著就不夠了。
                也有看待時間如捲筒衛生紙，年輕時像剛換新卷，很久才轉一圈，老了像快用完，手一拉就是三四圈，一下子幾年過去了。有人也把時間比成一條河，從遙遠的過去流向未來，不能停息也不能倒退，
                「現在」只是時間之河上的一點，卻永遠抓不住。<br>
                人們瞭解什麼是時間之前，其實已經將它消磨了一半。因為困惑不解，所以未曾停止對於時間和空間的探索，時間快慢是感覺? 還是有科學根據？愛因斯坦曾用相對論來說明時間，坐在燙熱的火爐旁邊，
                會覺得時間過得特別慢，如果跟情人約會，會覺得時間過得特別快。美國史丹福大學的神經科學教授伊格曼（David Eagleman），認為大腦處理新穎事務時會耗費較多能量，紀錄下更多的記憶，
                童年時每天都學新東西，覺得時間過得特慢。長大後習以為常的體驗，腦子見怪不怪，時間會感覺越過越快。就像去一個新的地方，總覺得去的路顯得特別的長，回程熟悉那條路後，感覺就短許多，
                也許讓時間慢下來的祕訣，是尋找新鮮的體驗。<br>
                中國古代神話小說和《西遊記》中曾多處提及，「天上一天，人間一年」，我向學科學的先生求證有無此可能，他說有可能，根據相對論，只要速度足夠快，時間就會變慢。
                他還想起大學時物理課曾經考過一題佔了20分，「依照這個比例，天上的座標，和人間的座標，相對速度是多少?」對我這學文的一點都不懂，徒增對時間的困惑。<br>
                有人想到牛郎織女的故事，一年才能於七夕見一次面的牛郎，對織女述說他的相思之苦，織女卻回:「人間一年天上一天你不知道嗎? 我可是每天吃完早飯就得見你了，天天見面你不煩，我煩啊。」也算是對時間困惑所產生的笑話。
            </div>
        </div>
    </div>
{% endblock content %}