{% extends 'base.html' %}
{% load static %}

{% block page_name %}
​聯繫
{% endblock page_name %}

{% block content %}
    <div class="card border-primary">
        <div class="card-header bg-primary text-white text-center">
            <h2>聯絡我們</h2>                                           
        </div>
        <div class="card-body">
            <div class="text-center">
                <p>
                    歡迎以電郵,電話,或填表來聯絡小雨點基金會
                    <p></p>
                    Tel: +1 (408) 318-5318<br>

                    Email: jhfhomeland@gmail.com<br>

                    P. O. Box 589, <br>

                    Cupertino, CA 95015<br>

                    U. S. A.
                </p>                ​
            </div>
        </div>
    </div>
{% endblock content %}