{% extends 'base.html' %}
{% load static %}

{% block page_name %}
文化天地
{% endblock page_name %}

{% block content %}
    <div class="card border-primary">
        <div class="card-header bg-primary text-center">
            <h2>享年</h2>                     
        </div>
        <div class="card-body">
            <div class=text-center>  
                <div>Sep 23, 2017</div>
                <div>晏禮中</div> 
                <div>
                    <img src="{% static 'images/culture/YanLizhong.webp'%}" class="img-fluid bg-dark">
                </div>               
                <p></p>         
                <div>
                    晏禮中，《生活》月刊資深記者。他的報導對像不是社會名流，而是平民百姓。數年來，他為快遞員、賣唱人、鄉村醫生、礦工、艾滋病人管理者、
                    話劇演員、獄警、退伍軍人、巡道工等普通人勾畫出了一幅幅精準而樸素的平民肖像。<br>
                    「我一遍遍地寫著這些普通人的故事，我會突然覺得，自己活了好幾輩子。從這些普通人那些似乎無人喝彩的故事中，我能感受到這個時代的平淡和瘋狂。」
                </div>
                <p></p> 
                <a href="https://youtu.be/wVwRW8HNfYo" target="_blank" class="card-link btn btn-dark m-2">Watch Video</a>
                <!--               
                <iframe width="400" height="300"
                src="https://www.youtube.com/embed/1Ii-k7jt1pM?autoplay=1&mute=1">                
                </iframe>--> 
            </div>
            <p></p>
            <div>
                晏禮中以風趣的口吻細説他在採訪生涯中所遇到的平凡人的不平凡事。心中想著自己要好好活著讓自己享年超過許多名人。在外地現場採訪時的生死悠關的時刻，
                聼到那些賣力活著的人們的故事，採訪那窮下僻壤的會唱歌的孩子，因唱歌好聴到被邀請到了北京，回家卻無人相信他去了北京的小孩，以歌聲回答記者的採訪。
                他唱著”雄鷹飛得又高又遠，見識的東西比人多，不聽阿爸的話錯走十條溝，不聽阿媽的話錯翻五座山。山再高沒有人的心𩆜高，路再長沒有人的雙腳長。“<br>
                平平凡凡的心，享受自己的年歲！
            </div>
        </div>
    </div>
{% endblock content %}