{% extends 'base.html' %}
{% load static %}

{% block page_name %}
合唱團
{% endblock page_name %}

{% block content %}
    <div class="card border-primary">
        <div class="card-header bg-primary text-center">
            <h2>《如果明天就是下一生》 - 小雨點合唱團虛擬合唱</h2>
                      
        </div>
        <div class="card-body">
            <div class=text-center>
                <div>Nov 2, 2020</div>  
                <div>
                    JHF Choir, 小雨點合唱團<br>
                    Composer：Ching-Ju Shih 石青如<br>
                    Lyrics Based on Romans 8:28<br>
                    Sponsor: J&H Foundation 小雨點基金會
                </div>   
                <div>
                    <img src="{% static '/images/forthosewholove/forthosewholovemain.webp'%}" class= "img-fluid">
                </div>
                <p></p>
                <div class="row">
                    <div class="col-6">                                                
                        <iframe width="100%" height="100%"  class="responsive-iframe" 
                            src="https://www.youtube.com/embed/uM7dGoNo_fs" 
                            title="如果明天就是下一生 (If Tomorrow Is Next Life)" 
                            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                        </iframe>
                        
                    </div>
                    <div class="col-6">
                        <iframe width="100%" height="360" class="responsive-iframe" 
                            src="https://www.youtube.com/embed/6N3ihsJ0pjQ" 
                            title="For Those Who Love" 
                            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                        </iframe>
                        
                    </div>
                </div>  
            </div>
            <div>
                             
                <div>
                    冠狀病毒在2020年給世界造成了沉重打擊。我們的合唱團借由虛擬排練完成合唱這首歌。 在這首歌的視頻中我們配上了每位團員在這段時間的特別的記憶。我們也希望這首歌能帶給您和平與祝福，並讓您記起疫期中的特別的時刻。
                </div>
            </div>
        </div>


    </div>

{% endblock content%}