{% extends 'base.html' %}
{% load static %}

{% block page_name %}
合唱團
{% endblock page_name %}

{% block content %}
    <div class="card border-primary">
        <div class="card-header bg-primary text-center">
            <h2>For those who love</h2>
                      
        </div>
        <div class="card-body">
            <div class=text-center>
                <div>Nov 2, 2020</div>  
                <div>
                    <img src="{% static '/images/forthosewholove/forthosewholovemain.webp'%}" class= "img-fluid">
                </div>
                <a href="https://www.youtube.com/watch?v=6N3ihsJ0pjQ&feature=youtu.be" target="_blank" class="card-link btn btn-primary m-2">觀看表演錄影</a>
            </div>
            <div>
                <div>
                    JHF Choir, 小雨點合唱團<br>
                    Composer：Ching-Ju Shih 石青如<br>
                    Lyrics Based on Romans 8:28<br>
                    Sponsor: J&H Foundation 小雨點基金會
                </div>
                <div>
                    <img src="{% static '/images/forthosewholove/forthosewholove-1.webp' %}"  class= "img-fluid">
                </div>
                <div>
                    冠狀病毒在2020年給世界造成了沉重打擊。我們的合唱團借由虛擬排練完成合唱這首歌。 在這首歌的視頻中我們配上了每位團員在這段時間的特別的記憶。我們也希望這首歌能帶給您和平與祝福，並讓您記起疫期中的特別的時刻。
                </div>
            </div>
        </div>


    </div>

{% endblock content%}