{% extends 'base.html' %}
{% load static %}

{% block page_name %}
小雨點文化談
{% endblock page_name %}

{% block content %}
    <div class="card border-primary">
        <div class="card-header bg-primary text-center">
            <h2>零距離走近 藝術名家王躍進</h2>                     
        </div>
        <div class="card-body">
            <div class=text-center>  
                <div>Nov 8, 2015</div>
                <div>王躍進, 旅美書法藝術家</div>     
                <div>
                    <img src="{% static 'images/culture/WangYuejin.webp'%}" class="img-fluid bg-dark">
                </div>
                <p></p>         
                <div>
                    王躍進, 旅美書法藝術家。王躍進先生將通過傳統書法、空心書法、剪紙藝術、朗誦和演講等不同藝術形式，零距離為灣區觀眾講解他對藝術追求的辛路歷程，其一筆書寫的5200個連筆空心字長捲入選《大世界基尼斯紀錄》，其用多種文字創作的3180個圖文雪花剪紙創《世界紀錄協會紀錄》的世界紀錄。
                </div>
                <p></p> 
                <a href="https://youtu.be/n2jVOgJiyi0" target="_blank" class="card-link btn btn-dark m-2">Watch Video</a>
                <!--               
                <iframe width="400" height="300"
                src="https://www.youtube.com/embed/1Ii-k7jt1pM?autoplay=1&mute=1">                
                </iframe>--> 
            </div>
            <p></p>
            <div>
                王躍進藝術講座<br>
                一、中國書法：<br>
                “書法”二字，簡單地說，便是寫字的方法。由於中國的漢字不同於其他國家或民族的文字，其字形由象形文字起源，在數千年文明發展史上，
                經歷了有代表性的甲骨文、金文、小篆、隸書到楷書等各個階段的演變，形成了形音義密切配合的現代漢字。因此，中國人所說的“書法”，
                是指中華文化中特有的一門有歷史、有 規範、有演變、有創造、有很高藝術內涵的藝術門類。書法是中國傳統文化的重要組成部分，
                是中國特有的藝術形式書法使人怡情氣爽，陶冶人的情操，修身養性正所謂“靜以修身，儉以養德”，書法正是修身養德的好形式、好渠道、好方法。<br>

                二、空心字一筆書<br>
                在中國5000多年的歷史長河中，空心字這種獨特的書法藝術形式可以追溯到唐代。<br>
                縱觀古今書法家，在寫好“雙鉤”字又稱空心字型後一般多填上墨，以求神似。而直接採用“雙鉤”法創作書法的形式還為數不多。
                這是一種不同於傳統書法的“邊緣”書法藝術，是現代書法藝術發展到今天的必然產物。藝術的科學性就是藝術的自然性。<br>
                1999年我創作的一筆書寫5200個連筆空心字書法長卷被收入《大世界基尼斯紀錄》<br>
                甚至我們有時候會發現，“一筆空心字”這種藝術形式已經不在是那種傳統意義上的書法藝術，與其說是在寫到不如說是在“畫”，
                “畫”的過程中作者可以根據自己對該藝術形式的理解加以創作、創新。當作者完成作品時，其藝術的欣賞價值是不言而喻的。<br>
                有感而發：<br>
                促進國際書法交流，光大書法藝術。生活在海外的華人，如何更好地繼承發揚中國的民族藝術，如何續寫當代書法的新篇章，應該成為我們認真面對和思考的問題。
                所謂越是民族的，越是世界的。西方有卓見的藝術家、理論家把書法視為東方的代表性藝術，給以高度定位，我們更應當繼承好書法這筆優秀文化遺產，
                在文化交流滲透日漸頻繁的今天將它發揚光大，讓更多的民族認識中國書法、愛好中國書法。我們可以把書法做成一張中國的文化名片，使其在更大範圍內為中國文化代言。<br>

                三、雪花剪紙<br>
                2010年暑假期間，我曾在美國北加州West Valley College （西谷大學）進修CHS 67 Creative Art Experience and the Young少年藝術創作課程，Ms. 
                Terry Shue教授佈置的一項作業是讓每位同學帶一本獲凱迪克獎的書在課堂上討論。 （凱迪克大獎是美國圖書館學會頒予前一年度所出版的最傑出的兒童讀物，是美國最具權威的繪本獎。）
                我就到圖書館去查找，在眾多獲獎的書中我無意中抽到一本名叫Snowflake Bentley 《雪花人》的書，其封面上美麗的雪花圖案和故事簡介一下子吸引住我的眼球，
                便站在書架旁一口氣將那本書讀完，然後又藉回去反复閱讀。書中的故事深深地打動了我。<br>
                書中講的是在美國佛蒙特州（Vermont）一個叫作傑瑞科的小鎮上有一位名叫（Wilson Bentley） 班特利的小男孩真人真事的傳記故事。
                書中男主角班特利對雪花的熱愛程度超乎眾人的想像。他收集、觀察和研究雪花，並且企圖以筆描繪、捕捉雪花獨特細緻的圖案，
                但因為雪花稍縱即逝，他經歷了一次又一次的失敗，直到十七歲那年，父母為他買了一台顯微鏡相機，才幫助他達成保存雪花圖的心願。<br>
                班特利在研究雪花的過程中充滿許多挫折和困難，雖然每一片雪花都有巧奪天工、獨一無二的圖案，但是因為融化得太快，班特利無法將這些美麗的圖案保存下來，
                即使後來有了顯微鏡相機，也是經過無數次的失敗後才成功。班特利的熱情成為他致力研究雪花的動力，支持他不畏艱難的堅持下去，酷寒的溫度無法動搖他的熱情，
                殘暴的風雪也無法阻擋他的腳步，一直堅持到人生的終點。他用熱情和毅力形塑的生命故事，也變成這本備受推崇的書。後來，他把他照雪花的經驗和照雪花的相片編成書，
                叫做《雪的結晶》。他的書引起大家的歡迎和注意，越來越多的科學家開始研究雪花。他一輩子成功照了好幾千片雪花，發現雪花都有類似六角形的樣，但是，竟然從來沒有發現兩個一模一樣的雪花。<br>
                “雪花都有類似六角形的樣，但從來沒有發現兩個一摸一樣的雪花”這一發現讓我眼前一亮，異常興奮。我又查找了一些有關雪花的書籍，進一步證實這一發現的權威性。
                便決定著手探索一條新的蒐集雪花圖案之路--------創造剪紙。我要剪出比班特利一生拍下的幾千片雪花還要多，甚至多得多的雪花圖案。<br>
                我還清楚地記得那是在2010年的7月4日美國獨立日的夜晚，在聖塔克拉拉中心公園觀賞完煙花表演後回到家裡，我躺在床上翻來覆去睡不著，滿腦子的雪花始終揮之不去，
                《雪花人》的故事更是讓我激動難抑。如果說是班特利的熱情成為他致力研究雪花的動力，支持他不畏艱難地堅持下去，那麼對我而言，班特利的感人故事就是我研究探索雪花剪紙的動力。
                激勵我毫不猶豫地走下去。<br>

                佛蒙特州的雪花如同塵埃一樣普通，班特利的心願是每天都能看到雪花的降臨，而我居住的加州矽谷，四季不見雪花，我要讓美麗的雪花在我的手下誕生。我本著“雪花無一雷同，
                形似六角形”的特徵，起身拿起一把普通的剪刀和幾張A4打印紙，先將它們每張裁成四開，然後又將每個剪成正方形，再疊成六角形，接下來就隨意剪起來，隨著​​剪刀曲直方圓地任意遊走，
                我一口​​氣剪出好幾個，且個個無一雷同。看到不可思議的美妙圖案一個個呈現在眼前，我已忘卻了時間。當剪好的雪花已鋪滿桌面時，時鐘已指向5點。雪花剪紙伴我度過了一個難忘的不眠之夜。<br>
                次日，我挑了一些自己認為滿意的雪花剪紙帶到了學校，在我講述了自己剪雪花的經過，然後又把剪好的雪花示給教授看，教授看後連連讚嘆，並當即讓全班同學輪流傳閱，大家看了均給予一致好評。
                此時此刻我有一種成功的欣慰，這更加堅定了我勇往直前的決心。<br>
                從此，我每天晚飯後，便一邊聽電視一邊剪雪花，只要有空就剪幾下，遇到節假日更是一剪就是幾個小時。兩三個月下來我剪的雪花已有好幾百個。隨著數量的不斷攀升我卻發現，雖幾百片雪花無一雷同，
                但總覺得缺點什麼，很難說出每個雪花的名稱且很難歸納每件雪花剪紙的類別。<br>
                作為以書法為終生愛好並不懈追求的我開始聯想到漢字和書法。這使我茅塞頓開的關鍵所在。假使能把文字與雪花兼容並蓄，融合一起，不僅能巧妙地、
                易如反掌地、且直奔主題地為每件雪花剪紙作品命名，又能保證百分之百地從根本上避免雪花剪紙圖案有可能會出現雷同的問題。僅新華字典收錄的單字就多達一萬個。<br>
                如果再把書法的真草隸篆行等不同書體也利用起來，把雙字詞、三字詞、四字成語也擴展進來，再把英文字母、注音符號、甚至多語種都利用起來，將會找到一個取之不盡，用之不竭的廣闊空間。
                我先從簡單的漢字入手，接著又剪出多個漢字注音符號，然後又剪出部分中英文常用詞彙及漢字唐詩數首。
                文字剪紙需要一定的書法功底，這一點我有絕對把握可做到，因為1999年我已成為中國書法家協會會員，且真、草、隸、篆、行諸體皆可為之。此外，剪紙的關鍵是連綿不間斷， 
                難在要使每個字的點畫筆筆相連，這一點又恰好是我的長項，因為連筆空心字正是我的拿手絕活。 1999年9月我曾創下一筆寫下5200個連筆空心字的大世界基尼斯紀錄證書號：00812） 。
                將其技能運用在雪花剪紙上得心應手，游刃有餘。試驗成功後，我又開始嘗試利用有色紙剪出五彩繽紛的雪花圖案。我首先剪出彩色百家姓300個，又剪出省市自治區直轄市名30餘個，
                再剪出各省會名稱近30個，接下來是台灣25個城市及香港18個區域名稱，2012年1月至2月我著手創作並完成彩色中文12生肖和英文12生肖雪花剪紙作品。 
                2013年五月二十七日我創作的3180個不同造型的雪花剪紙被世界紀錄協會收入《世界上創作不同樣雪花剪紙數量最多》世界紀錄。<br>
                對此我最大的感慨是：這個世界上並不缺乏美，而缺乏的是發現美的眼睛。其實美就在眼前，就在手下。只要我們具備一雙發現美的眼睛，並敢於嘗試，就能創造出人間奇蹟。<br>

                四、演講與朗誦<br>
                演講又叫講演或演說，是指在公眾場所，以有聲語言為主要手段，以體態語言為輔助手段，針對某個具體問題，鮮明、完整地發表自己的見解和主張，闡明事理或抒發情感，進行宣傳鼓動的一種語言交際活動。
                通過演講可以鍛煉自己的膽量，培養自己良好的心理素質及邏輯思維能力和溝通能力，提高語言表達能力，鍛煉自己的口才。二十一世紀的今天人才最珍貴，而口才對於人才來說又非常重要，當然還需有深厚的知識功底。
                現實生活中的新人自我介紹、崗位競聘、產品推銷、與人溝通等等處處都需要口才，所以說演講給我們帶來的實實在在的好處確實是太多了。<br>
                朗誦也是一種藝術。說它是藝術是因為：一是朗誦者面對的是各式各樣的文章內容、文學形式，通過朗誦就可以讓人接觸大量優秀的美文，從而提高自己的思想藝術境界和素質內涵，
                其二是朗誦的過程就是朗誦者不斷將文字藝術創造成聲音藝術的過程，它的二度創作需要朗誦者不斷地調動自己的思想情感、表達技巧來實施，大量的朗誦就能大大提高自己的思想情感表達水平和語言表達水平。
                而藝術本身就是將思想、境界、情感、技巧綜合的表達。其三，朗誦是朗誦者將自身作為載體來創作聲音藝術作品，無需借助第二載體，為此，朗誦更直接，更具有感召力，
                它能把一個真實而具有美學價值的東西直接表達出來。一個好的朗誦所帶來的震撼力，絕非其他藝術所能達到的。因此，學好朗誦，就是學好了語言表達藝術。無論什麼困難的問題，
                無論多深奧、難懂的文章，經一個出色的朗誦家的朗誦表達，頃刻就會變得簡單、易懂、魅力無窮、美感十足。<br>
                模仿及興趣的重要性：小時候學走路學說話都是從模仿開始的。知識和技能的累積都是從模仿別人的東西開始的，等累積到一定時候就能有創新的可能了。
                學習中語文和英語這語言類的科目就特別需要會模仿，剛開始學外語的時候就全靠模仿，跟鸚鵡學舌一樣，多聽外國人怎麼說，然後模仿他們的語音語調，慢慢就找到感覺了。
                學書法、繪畫、唱歌、朗誦等也同樣需要模仿能力。<br>
                孔子曰：“知之者不如好之者”。確實，興趣是最好的老師，興趣可以激發出人無限的潛能。
            </div>
        </div>
    </div>
{% endblock content %}