{% extends 'base.html' %}
{% load static %}

{% block page_name %}
醫學講座
{% endblock page_name %}

{% block content %}
    <div class="card border-primary">
        <div class="card-header bg-primary text-center">
            <h2>刮痧療法</h2>
                      
        </div>
        <div class="card-body">
            <div class=text-center>
                <div>Apr 26, 2020</div>
                <div>吳亞儒 中醫師，L.Ac.,DAOM</div>
                <img src="{% static 'images/health/drwu.webp'%}" class="img-fluid">    
                <p></p>
                <div>此次講座談的是刮痧療法。以講解示範的方法教大家刮痧的消毒，手法，部位，時間，禁忌，和常見的病症的刮痧方法。</div>
                <p></p>
                <a href="https://www.youtube.com/watch?v=OegGqYjvh5c" class="card-link btn btn-dark m-2" target="_blank">Watch Video</a>
            </div>
            
        </div>
    </div>
{% endblock content %}