{% extends 'base.html' %}
{% load static %}

{% block page_name %}
小雨點文化談
{% endblock page_name %}

{% block content %}
    <div class="card border-primary">
        <div class="card-header bg-primary text-center">
            <h2>幸福家居環境能量</h2>                     
        </div>
        <div class="card-body">
            <div class=text-center>  
                <div>Feb 6, 2019</div>
                <div>董易林</div>     
                <div>
                    <img src="{% static 'images/culture/DongYilin.webp'%}" class="img-fluid bg-dark">
                </div>
                <p></p>         
                <div>
                    易經大師 董易林 – 生於孔孟之鄉，長在易經世家，擅長堪輿風水學、建築風水學、和命理姓名學等。「一陰一陽之謂道，百姓日用而不知」。易經存在日常生活中，並不如想像中艱難，董易林先生將以深入淺出方式為各界朋友講解易經，闡述風水、命運與您的關係
                </div>
                <p></p> 
                <a href="https://youtu.be/iLGWniFKO7k" target="_blank" class="card-link btn btn-dark m-2">Watch Video</a>
                <!--               
                <iframe width="400" height="300"
                src="https://www.youtube.com/embed/1Ii-k7jt1pM?autoplay=1&mute=1">                
                </iframe>--> 
            </div>
            <p></p>
            <div>
                特邀 易經傳承人董易林 主講風水與命運--- 揭示易經人生 解讀陰陽智慧。<br>
                易經大師 董易林 – 生於孔孟之鄉，長在易經世家，擅長堪輿風水學、建築風水學、和命理姓名學等。得益於家族文化氛圍的薰陶、及自身的研究實踐，
                董易林先生將中華傳統文化與現實生活進行創新性的結合，不斷推陳出新，專業聲望遠播海內外。<br>

                風水：古人常言，決定人一生的因素：一命二運三風水。<br>
                •您以為靠先天條件和後天努力就夠嗎？<br>
                •風水是不可或缺的助力！<br>
                •好的風水會帶給您好的運程、生活、事業潛移黙化<br>
                步步高升。<br>
                運勢：<br>
                •2019年股市、地產、經濟又將走向何方？<br>
                •有那些方向值得關注？ 又有那些風險值得警惕？<br>
                •民生經濟、自然氣候又將呈現怎樣的趨勢？<br>
                •無論您是企業家、學生、公職人員、或待業的朋友們, 2019的深度解析您不可以不知道！
            </div>
        </div>
    </div>
{% endblock content %}