{% extends 'base.html' %}
{% load static %}

{% block page_name %}
養生談 
{% endblock page_name %}

{% block content %}
    <div class="card border-primary">
        <div class="card-header bg-primary text-center">
            <h2>養生粥</h2>
                      
        </div>
        <div class="card-body">
            <div class=text-center>
                <div>Apr 19, 2021</div>                   
                <p></p>
                <div>教您做一過簡單的養生粥。</div>
                <p></p>
                
                <iframe width="400" height="300"
                src="https://www.youtube.com/embed/sG7AZTM3Fqs?autoplay=1&mute=1">                
                </iframe> 
            </div>
            
        </div>
    </div>
{% endblock content %}