<!--templates/home.html-->
{% extends "base.html" %}
{% load static %}

{% block page_name %}
首頁
{% endblock page_name %}

{% block content %}    
    <div class="card border-primary">
        <div class="card-header bg-primary text-center">
            <h2>小雨點合唱團 《今生今世》演唱會</h2>                                       
        </div>
        <div class="card-body">
            <div class=text-center>  
                <p>時間 : 9/17/2022, 7:30PM</p>
                <p>地點 : First United Methodist Church, Palo Alto </p>
            </div>
            
            <div>
                <p>《今生今世》演唱會是小雨點合唱團成立後的第一場音樂會。</p>

                <p>這場音樂會在許多方面都是獨特的：<br>
                每首曲子都是由出生於台灣的著名作曲家石青如創作的歌曲。曲目包括國語、台語、客家話和英語的精彩合唱曲。</p>

                <p>每首歌曲的發音、詮釋和聲部分配皆有作曲家石青如本人親自參與指導及註解，承接指揮家林伯真生前的帶領及詮釋，由前任伴奏在過渡期的帶領和堅持，
                之後加上部份具有專業音樂訓練的團員，及活躍於灣區各合唱團的歌唱好手，以非傳統指揮方式攜手練習，並演出不同以往合唱形式的音樂會，作為對指揮林伯真的致敬與悼念。</p>

                <p>此次表演節目精彩。歡迎聆賞表演錄影。曲目包括：<br>
                世界恬靜落來的時, 百合花 ,佛手, 墮落天使,
                流轉, 講互暗暝聽, 夢見我的鏡, 傀儡戲,
                食頭路, 八家將, 如果明天就是下一生,
                For Those Who Love, Little Station,
                田舍臨暗, 今生今世, 褒忠讚歌, 烏罐仔裝豆油證。</p>
                    
            </div>                 
            
            <div class="row">
                <div class="col-6">
                    <img src={% static 'images/inmylifetime/iinmylifetimemain.webp' %}  class="img-fluid">
                </div>
                <div class="col-6">
                    <iframe width="100%" height="100%" class="responsive-iframe" src="https://www.youtube.com/embed/HtIH7yzM8rs" 
                    title="小雨點合唱團金山灣區公演 美聲演出石青如作品" 
                    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
            
            
        </div>
    </div>
    <p></p>
    <div class="card border-primary">
        <div class="card-header bg-primary text-center">
            <h2>歡迎加入小雨點多媒體志願工作團</h2>                                       
        </div>
        <div class="card-body">
            <div class=text-center>  
                <p>多媒體內容製作或活動策劃執行</p>                    
            </div>
            <div>
                <div class="row">
                    <div class="col">
                        <div class="text-left">
                            <p>小雨點基金會 (J & H Foundation) 成立於 2012 年，是美國註冊的非營利組織。基金會的宗旨是幫助社區成員過健康快樂的生活。
                                基金會正在尋找志願者來製作網站內容。包括視頻、音頻、圖像、文本和網頁。高中生的志願者，小雨點基金會將認證志願者為基金會服務所投入的時間。
                                如果有興趣，請將您的簡歷寄至<br>
                                jhfhomeland@gmail.com
                            </p>    
                            <div class="text-center">                                
                                <a href="https://docs.google.com/forms/d/e/1FAIpQLSdYjtV3jjwzjqkFlSS5xUom5dDDg_Zabu4xYgNFqD-IW4nZ2g/viewform?usp=pp_url" target="_blank" class="card-link btn btn-dark m-2">申請</a>
                            </div>                          
                        </div>
                    </div>
                    <div class="col">
                        <img src={% static 'images/volunteermain.webp' %} width="600">
                        <p></p>                            
                    </div>
                </div>                 
            </div>
        </div>
    </div>
    <p></p>
    <div class="card border-primary">
        <div class="card-header bg-primary text-center">
            <h2>小雨點基金會【設計你的社區】開放申請</h2>                                       
        </div>
        <div class="card-body">
            <div class=text-center>  
                <p>04/01/2022 起 到 06/12/2022 止</p>                    
            </div>
            <div>
                <div class="row">
                    <div class="col">
                        <div class="text-left">
                            <p>小雨點基金會將於2022年4月1日-6月12日舉辦團隊活動【設計你的社區】。該活動旨在鼓勵高中生發現社區中可以改進的領域/問題，
                                然後組成團隊。共同設計和發展解決方案。所有團隊將在虛擬會議中介紹他們的項目並展示其解決方案。評審團將選擇前3名獲獎計劃和多個佳作計劃。
                                前三名還將獲獎學金：一等獎1500美元，二等獎1200美元和三等獎800美元。佳作也可獲得300美元的獎學金。所有工作小時可當作服務小時。
                                有興趣參加的同學請密切注意！</p>
                        </div>
                    </div>
                    <div class="col">
                        <img src={% static 'images/designyourcommunitymain.webp' %} width="600">
                        <p></p>
                        
                    </div>
                </div>                 
            </div>
        </div>
    </div>
    <div class="card border-primary">
        <div class="card-header bg-primary text-center">
            <h2>分享你心中的一點寶石</h2>                                       
        </div>
        <div class="card-body">
            <div class=text-center>  
                <p>一個讓孩子由分享自己喜愛的課題，增強自信的活動</p>
                
            </div>
            <div>
                <div class="row">
                    <div class="col">
                        <div class="text-left">
                            <p>“分享你心中的一點寶石”是由小雨點基金會在2021年暑假舉辦的一個增強自信活動。它不是比賽，
                                而是 K-12 學生在演講中分享自己的一個開放舞台。 沒有預設的提案類別。 只需與其他參與者、
                                朋友和家人分享最珍惜的關於自己的一些事情就可以。演講範圍和主題是海濶天空。</p>

                                <p>對參與者來說,這個活動給的最重要的獎勵是認識最喜歡自己的一些地方，並花心思與其他人分享。 
                                    小雨點基金根據所有參予者的成果和參予者在制作演述的努力和自己的體驗收穫，頒發幾位參加者300 美元的獎學金。</p>
                                
                                <p>很多家長和參加的同學都收獲良多。</p>
                        </div>
                    </div>
                    <div class="col">
                        <img src={% static 'images/sharingmain.webp' %} width="600">
                        
                        
                    </div>
                </div>                 
            </div>
        </div>
    </div>
    <p></p>
    <div class="card border-primary">
        <div class="card-header bg-primary text-center">
            <h2>《如果明天就是下一生》 - 小雨點合唱團虛擬合唱</h2>                                       
        </div>
        <div class="card-body">
            <div class=text-center>  
                <p>一個讓孩子由分享自己喜愛的課題，增強自信的活動</p>
                
            </div>
            <div>
                <div>
                    <p>冠狀病毒在2020年給世界造成了沉重打擊。儘管有許多障礙，合唱團仍繼續進行虛擬的排練。希望這首歌能帶給您和平與祝福。</p>
                </div>
                <div class="row">
                    <div class="col-6">                                                
                        <iframe width="100%" height="100%"  class="responsive-iframe" 
                            src="https://www.youtube.com/embed/uM7dGoNo_fs" 
                            title="如果明天就是下一生 (If Tomorrow Is Next Life)" 
                            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                        </iframe>
                        
                    </div>
                    <div class="col-6">
                        <iframe width="100%" height="360" class="responsive-iframe" 
                            src="https://www.youtube.com/embed/6N3ihsJ0pjQ" 
                            title="For Those Who Love" 
                            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                        </iframe>
                        
                    </div>
                </div>                 
            </div>
        </div>
    </div>
    <div class="card border-primary">
        <div class="card-header bg-primary text-center">
            <h2>快樂小羊火鍋養生第一講：至尊羊王滋補原味鍋</h2>                                       
        </div>
        <div class="card-body">
            <div class=text-center>  
                <p>歡迎光臨餐廳享用美食！</p>
                
            </div>
            <div>
                養生火鍋的湯頭是靈魂，食材是火鍋的主題，在由客人的手在火鍋中煮燙溶合就成了獨特養生食品。
                快樂小羊的傑昇羅師父將精心挑選的上好姜、蒜、葱、紅棗、草果、白寇，當歸加入老雞熬制的醇香湯底熬是滋補原味鍋的靈魂，
                加上澳洲進口的至尊羊肉和客人自選的配料，有上好的羊肉其質緊致有香濃口感，而且溫中健脾，補腎壯陽，益氣養血。
                湯頭中的草果健胃消食順氣，白蔻去濕順氣止嘔，當歸補血調經潤燥滑腸，紅棗安心助眠。一鍋入口，身強體健，美味難忘。  
            </div>
            <div>
                <div class="row">
                    <div class="col-6">
                        
                            <iframe  width="100%" height="100%" class="responsive-iframe" src="https://www.youtube.com/embed/71fiVcedkZU" 
                            title="快樂小羊火鍋養生第一講: 至尊羊王滋補原味鍋 (Happy Lamb Hot Pot with Supreme Lamb with Herb Soup Base)" 
                            frameborder="0" 
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> 
                        
                    </div>
                    <div class="col-6">
                        <img src={% static 'images/happylambmain.webp' %} class="img-fluid">
                        
                    </div>
                </div>                 
            </div>
        </div>
    </div>  
        
   

{% endblock content %}