{% extends 'base.html' %}
{% load static %}
{% block page_name %}
演唱會
{% endblock page_name %}

{% block content %}
<div class="card border-primary">
    <div class="card-header bg-primary text-white  text-center">    
        <h1>今生今世演唱會</h1>
        <h4>Sep 17, 2022</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                這場音樂會在許多方面都是獨特的：<br>
                每首曲子都是由出生於台灣的著名作曲家石青如創作的歌曲。曲目包括國語、台語、客家話和英語的精彩合唱曲。<br>
                每首歌曲的發音、詮釋和聲部分配皆有作曲家石青如本人親自參與指導及註解，承接已逝指揮家林伯真生前的帶領詮釋,與部份具有專業音樂訓練的團員,及活躍於灣區各合唱團的歌唱好手,以非傳統指揮方式攜手演出不同以往合唱形式的音樂會。<br>
                表演曲目包含：<br>
                <div class="mt-1 mb-1 ml-2">
                    <ul class="row">
                        
                        <div class="col-4">
                            <li>世界恬靜落來的時</li>
                            <li>百合花</li>
                            <li>佛手</li>
                            <li>墮落天使</li>
                            <li>流轉</li>
                            <li>講互暗暝聽</li>
                        </div>
                        <div class="col-4">
                            <li>夢見我的鏡</li>
                            <li>傀儡戲</li>
                            <li>食頭路</li>
                            <li>八家將</li>
                            <li>如果明天就是下一生</li>
                            <li>For Those Who Love</li>
                        </div>
                        <div class="col-4">
                            <li>Little Station</li>
                            <li>田舍臨暗</li>
                            <li>今生今世</li>
                            <li>褒忠讚歌</li>
                            <li>烏罐仔裝豆油證</li>
                            <li>如果明天就是下一生</li>
                        </div>
                    </ul>
                </div>
            </div>
            <div class="col-6 text-center">               
                              
                <img  src="{% static '/images/inmylifetime/inmylifetime-a.jpg' %} " class="img-fluid">
                <div>小雨點合唱團首次公演</div>
            </div>
        </div>
        <p></p>
        <div class="text-center">            
            <iframe width="714" height="431" src="https://www.youtube.com/embed/HtIH7yzM8rs" title="小雨點合唱團金山灣區公演 美聲演出石青如作品" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>                               
        </div>
        
        <br>
        <div>
            《今生今世》演唱會原定於 2020 年 8 月舉行，但由於新冠疫情嚴重而延遲到2022年。 
            希望您能來欣賞這場經由作曲家第一手詮釋指導的演出。
        </div>
        這場音樂會在許多方面都是獨特的：<br>
        每首曲子都是由出生於台灣的著名作曲家石青如創作的歌曲。曲目包括國語、台語、客家話和英語的精彩合唱曲。<br>
        每首歌曲的發音、詮釋和聲部分配皆有作曲家石青如本人親自參與指導及註解，承接指揮家林伯真生前的帶領詮釋,與部份具有專業音樂訓練的團員,及活躍於灣區各合唱團的歌唱好手,以非傳統指揮方式攜手演出不同以往合唱形式的音樂會,作為對指揮林伯真的致敬與悼念。<br>
        這是一場運用科技而達成的演唱會。在新冠大流行期 間，合唱團使用各種虛擬合唱技術來支持團員的練習， 並維繫大多數團員在一起，才能讓這場音樂順利舉行。<br>
        <p></p>
        <p>
            小雨點合唱團於2019年成立，邀請林伯真老師擔任指揮，黃惠敏老師擔任鋼琴伴奏。期間曾邀請灣區指揮 Michael DiGiacinto 和 鄧文博老師 蒞臨克席指導。
            2020年起的新冠大流行歷經波折仍能風雨中成長茁壯，終於在2022年後疫情期間正式演出第一場音樂會。
             
        </p>
    </div>
</div>
{% endblock content%}