{% extends "base.html" %}
{% load static %}
{% block page_name%}
慈善音樂會
{%endblock page_name%}

{% block content%}
<div class="card border-primary ">
    <div class="card-header bg-primary text-center">
        <h2>阿茲海默症 慈善音樂會</h2>        
    </div>
    <div class="card-body ">
        <div class="text-center">
            <div>Nov 16, 2018</div>
            <div>姚若華,黃惠敏,許瀞文</div>
            <div>
                <img src="{% static '/images/jhfcharityconcerts/jhfcharityconcerts2018.webp' %}" class="img-fluid">
            </div>
            <a href="https://www.youtube.com/watch?v=qqPVfjspgnc" target="_blank" class="card-link btn btn-primary m-2">觀看表演錄影</a> 
        </div>
        
        <div >
            此次“有話要說”訪問 姚若華黃惠敏和小雨點基金會創辦徐北辰關懷阿茲海默症。姚若華黃惠敏談這次阿滋海默症慈善音樂會以旋律優美、輕鬆活潑、耳熟能詳的為主。希望社會大眾共襄盛舉，正視老年失智症對人類的威脅。徐北辰談阿滋海默症慈和基金會的理念。
        </div>
        <div>            
            <div class="responsive">
                <div class="gallery">
                    <img src="{% static '/images/jhfcharityconcerts/jhfcharityconcerts2018-1.webp' %}" alt="Cinque Terre" width="600" height="400">                    
                </div>
            </div>
            <div class="responsive">
                <div class="gallery">
                    <img src="{% static '/images/jhfcharityconcerts/jhfcharityconcerts2018-2.webp' %}" alt="Cinque Terre" width="600" height="400">                    
                </div>
            </div>
            <div class="responsive">
                <div class="gallery">
                    <img src="{% static '/images/jhfcharityconcerts/jhfcharityconcerts2018-3.webp' %}" alt="Cinque Terre" width="600" height="400">                    
                </div>
            </div>
            <div class="responsive">
                <div class="gallery">
                    <img src="{% static '/images/jhfcharityconcerts/jhfcharityconcerts2018-5.webp' %}" alt="Cinque Terre" width="600" height="400">                    
                </div>
            </div>            
            <div class="clearfix"></div>
        </div>
        <div>
            這次阿滋海默症慈善音樂會以旋律優美、輕鬆活潑、耳熟能詳的為主。希望社會大眾共襄盛舉，正視老年失智症對人類的威脅。音樂會曲目包括電影似曾相似亅主題曲，奇異恩典，校園民歌歌，和鋼琴家楊智華的一些作品。希望以大家耳熟能詳的樂曲讓聽眾能享受音樂，也提供機會增加大家對阿滋海默症的了解。小提琴曲包括多首世界名曲，薩拉薩特的 “流浪者之歌” 和克萊斯特改編的法雅西班牙舞曲等，都是愛樂者所喜愛的。如歌的旋律、絢爛的技巧都展現演出者的獨特詮釋。
主持人 曾智寧 曾為星島中文電台 "星期四不一樣”、 “粉絲樂翻天”、”妙韻輕歌“ 主持人。 台北愛樂電台節目部經理/製作人暨主持人。
        </div>  
    </div>
</div>

{% endblock content%}