{% extends 'base.html'%}
{% load static %}
{% block page_name%}
公益音樂會
{%endblock page_name%}

{% block content%}
    <div class="card border-primary">
        <div class="card-header bg-primary">
            <h2>青春之泉 慈善音樂會</h2>
        </div>    
        <div class="card-body">        
            <div class="row">
                <div class="col">
                    <p>            
                        這個四重奏組合於一年半多前在 Bay Philharmonic Youth Orchestra (formerly Fremont Youth Symphony Orchestra) 的音樂指揮家Judy Lam 的領導下成立。 
                        他們小時候就在交響樂團合作過。因為都熱愛古典音樂，所以都立志通過音樂表演來服務社區。 他們在一起合作時已經公開表演過多次。 
                        2022 年，和諧四人組在今年的青年巴赫音樂節(Junior Bach Festival) 和Newark 志願者聯盟和藝術委員會慶祝活動中演出。 
                        在 BAMA 的美國國際公開音樂比賽中獲得第一名。 他們是 Fremont 交響樂團青年演奏家比賽的獲勝者並應邀在 2023 年東灣室內音樂節上演出。
                        <div class="row">
                            <div class="col text-center">
                                <a href="{% url 'FountainOfYouth'%}" class="card-link btn btn-dark m-2">詳細資料</a>                        
                                
                            </div>
                        </div>
                    </p>
                </div>
                <div class="col">
                    <img src="{% static '/images/jhfcharityconcerts/FountainOfYouthMain.jpeg' %}" class="img-fluid">
                    
                </div>            
            </div>        
        </div>
    </div>
    <p></p>
    <div class="card border-primary">
        <div class="card-header bg-primary">
            <h2>阿茲海默症 慈善音樂會</h2>
        </div>    
        <div class="card-body">        
            <div class="row">
                <div class="col">
                    <p>            
                        此次“有話要說”訪問 姚若華黃惠敏和小雨點基金會創辦徐北辰關懷阿茲海默症。姚若華黃惠敏談這次阿滋海默症慈善音樂會以旋律優美、輕鬆活潑、耳熟能詳的為主。希望社會大眾共襄盛舉，正視老年失智症對人類的威脅。徐北辰談阿滋海默症慈和基金會的理念。
                        <div class="row">
                            <div class="col">
                                <a href="{% url 'JHFCharityConcerts2018View'%}" class="card-link btn btn-dark m-2">詳細資料</a>                        
                                <a href="https://www.youtube.com/watch?v=qqPVfjspgnc" target="_blank" class="card-link btn btn-dark m-2">觀看表演錄影</a> 
                            </div>
                        </div>
                    </p>
                </div>
                <div class="col">
                    <img src="{% static '/images/jhfcharityconcerts/jhfcharityconcertsmain.webp' %}" class="img-fluid">
                    
                </div>            
            </div>        
        </div>
    </div>
{%endblock content%}