{% extends 'base.html' %}
{% load static %}

{% block page_name %}
醫學講座
{% endblock page_name %}

{% block content %}
    <div class="card border-primary">
        <div class="card-header bg-primary text-white text-center">
            <h2>肺炎</h2>
            <div>吳亞儒 中醫師,L.Ac.,DAOM</div>
            <div>February 21, 2021</div>                                
        </div>
        <div class="card-body">
            <div >
                <div class="row">
                    <div class="col">
                        <div>
                            胃酸倒流可以造成胃食管反流病，包括非縻爤性反流病，反流性食管炎，Barrett食管。吳中醫師先介紹人體防止胃酸逆流的結構，再談老年胃酸逆流的原因，其臨床症狀。然後教授鑒別診斷的方法。在治療上則由生活習慣改善，中西醫的治療方法。最後教導如何由舌頭診斷胃酸倒流的原因的方法。
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-center">
                            <img src="{% static 'images/health/pneumoniamain.webp'%}" class="img-fluid">
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p></p>
    <div class="card border-primary">
        <div class="card-header bg-primary text-white text-center">
            <h2>脂肪肝</h2>
            <div>吳亞儒 中醫師,L.Ac.,DAOM</div>
            <div>February 14, 2021</div>                                
        </div>
        <div class="card-body">
            <div >
                <div class="row">
                    <div class="col">
                        <div>
                            甘油三酯在肝中堆積會成脂肪粒，可引發痛風、糖尿病和膽結石。肝主要功能為合成加工、解毒、消化、能量代謝、免疫、滅活激素。脂肪肝降低肝功能。脂肪性肝病可由肥胖、慢性酒精中毒、糖尿病和高脂血症。吳中醫師解釋肝脂肪的來源，脂肪肝輕中重三型，發病因素，並指出脂肪肝可造成更嚴重肝硬化和肝癌。然後吳中醫師教授如何由病因、飲食、運動、心理、藥物和經由中醫與中藥來治療。
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-center">
                            <img src="{% static 'images/health/fattylivermain.webp'%}" class="img-fluid">
                        </div>
                        <div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p></p>
    <div class="card border-primary">
        <div class="card-header bg-primary text-white text-center">
            <h2>高血脂</h2>
            <div>吳亞儒 中醫師,L.Ac.,DAOM</div>
            <div>February 7, 2021</div>                                
        </div>
        <div class="card-body">
            <div >
                <div class="row">
                    <div class="col">
                        <div>
                            正常的高血脂的檢查指數是總膽固醇 < 200，甘油三脂<150mg/dl, 低密度脂蛋白<100mg/dl, 高密度脂蛋白>40mg/dl, 總膽固醇/高密度脂蛋白< 4。
高血脂引發的病有高膽固醇血症,、高甘油三脂症、混合型高脂血症、低密度脂蛋白血症。高血脂是心血疾病的禍首。西醫以藥物治療，需長期服用。中醫依濕瘀來治，宜吃溫性食物，別吃補品。先餓再吃，但不宜節食，適當運動且好好休息。艾灸足三里、豐隆穴、關元、肚臍。也可以中藥降血脂。
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-center">
                            <img src="{% static 'images/health/Hyperlipidemiamain.webp'%}" class="img-fluid">
                        </div>
                        <div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p></p>
    <div class="card border-primary">
        <div class="card-header bg-primary text-white text-center">
            <h2>腸炎</h2>
            <div>吳亞儒 中醫師,L.Ac.,DAOM</div>
            <div>January 31, 2021</div>                                
        </div>
        <div class="card-body">
            <div >
                <div class="row">
                    <div class="col">
                        <div>
                            腸炎症狀是噁心、嘔吐、腹痛、腹瀉，稀便或粘液膿血便，有些人發熱或感覺裡急后重。腸炎分感染性腹瀉，急性和慢性。中藥治療相當有效。腸炎可以由細菌、病毒、寄生蟲、真菌、或神經功能或腸道菌群失調所引起的。另外有過敏性、潰瘍性、放射性腸炎和克羅恩病。腸炎可以由糞便或腸鏡檢查。預防方法是小心飲食，避免食物中毒，少吃生冷食物。吳醫師也講解如何中西醫方法治療各種腸炎。
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-center">
                            <img src="{% static 'images/health/enteritismain.webp'%}" class="img-fluid">
                        </div>
                        <div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p></p>
    <div class="card border-primary">
        <div class="card-header bg-primary text-white text-center">
            <h2>優生優育</h2>
            <div>吳亞儒 中醫師,L.Ac.,DAOM</div>
            <div>January 3, 2021</div>                                
        </div>
        <div class="card-body">
            <div >
                <div class="row">
                    <div class="col">
                        <div>
                            你想生一個體格健壯聰明的孩子嗎？你想學習如何根據幼兒的特色點以科學育嬰方法來養育孩子子嗎？吳亞儒醫師教您健康就能生優質孩子的道理，備孕就來自健康的腎、脾、肝、心肺、骨盆/骨架和優生備孕的關係。所以要依中醫調理虛、寒、緊調理加上運動和調整骨盆/架的方法來改善。課中也解説何時懷孕，孕前環境，孕期檢查和保健，鈣鋅和營養的攝取以優化孩子的身體和智力。
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-center">
                            <img src="{% static 'images/health/Eugenicsmain.webp'%}" class="img-fluid">
                        </div>
                        <div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p></p>
    <div class="card border-primary">
        <div class="card-header bg-primary text-white text-center">
            <h2>冬季補腎</h2>
            <div>吳亞儒 中醫師,L.Ac.,DAOM</div>
            <div>December 20, 2020</div>                                
        </div>
        <div class="card-body">
            <div >
                <div class="row">
                    <div class="col">
                        <div>
                            治病是還債，養生是存錢。腎主骨,肝主筋。腎虛是因過勞,肝火/肝鬱來自緊張和壓力。吳亞儒中醫師講解藥補不如食補，食補不如動補，動補不如神補的道理。再談身體健康的五大要素，春夏是陽，秋冬是陰，人之后上是陽，前下是陰。腎虛則手腳冷無力，性能力下降，頸腰椎痛。冬補腎。冬藏-多休息。吳醫師在本課中傳授神、動、食、藥養腎和補腎的方法。
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-center">
                            <img src="{% static 'images/health/Kidneynourishingmain.webp'%}" class="img-fluid">
                        </div>
                        <div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p></p>
    <div class="card border-primary">
        <div class="card-header bg-primary text-white text-center">
            <h2>冠心病</h2>
            <div>吳亞儒 中醫師,L.Ac.,DAOM</div>
            <div>December 6, 2020</div>                                
        </div>
        <div class="card-body">
            <div >
                <div class="row">
                    <div class="col">
                        <div>
                            冠狀動脈粥樣硬化心臟病是人類第一殺手,每年1500萬人死因為它,且多為無症狀,超過50%的總死亡數。很多病人是猝死。吳亞儒中醫師在課程中講述冠心病發展的過程，血管老化的演變，如何注意胸痛是否是心絞痛或心肌梗塞,也教你識別呼吸困難的級別，了解血壓高低對可能有腦出血、腦栓塞和心肌梗死的風險。吳醫師也傳授冠心病的危險因素和它的三級防治。接著講授養生治病的道理和如何由飲食、運動鍛練、補腎、減壓來保持心臓和血管的健康。可以依照「夏至養心」所教的方法養心。
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-center">
                            <img src="{% static 'images/health/coronaryheartdiseasemain.webp'%}" class="img-fluid">
                        </div>
                        <div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p></p>
    <div class="card border-primary">
        <div class="card-header bg-primary text-white text-center">
            <h2>月經前綜合症 & PMS</h2>
            <div>吳亞儒 中醫師,L.Ac.,DAOM</div>
            <div>November 22, 2020</div>                                
        </div>
        <div class="card-body">
            <div >
                <div class="row">
                    <div class="col">
                        <div>
                            吳亞儒中醫師介紹卵巢結構，月經週期後談月經前綜合症的症狀,其嚴重時身心的症狀和影響。再比較中西醫治療的方法。講述如何以中葯，艾灸，捏脊，調情志來治療月經前綜合症。課程中也示範真實案例的治療過程的影片。
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-center">
                            <img src="{% static 'images/health/menstruationmain.webp'%}" class="img-fluid">
                        </div>
                        <div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card border-primary">
        <div class="card-header bg-primary text-white text-center">
            <h2>子宫肌瘤</h2>
            <div>吳亞儒 中醫師,L.Ac.,DAOM</div>
            <div>November 15, 2020</div>                                
        </div>
        <div class="card-body">
            <div >
                <div class="row">
                    <div class="col">
                        <div>
                            如果你不想得子宮肌瘤，或者割了再長，長了再切，那麼你治病必須求“因”，如果病因不除，你再怎麼切，再怎麼割，都是沒用的。
                            就像田里長了很多雜草，光把地面的上的草割掉，是沒有用的。關鍵是要把根除去！同時防病重於治病。<br>
                            吳亞儒中醫師教你如何防範子宮肌瘤的根除去。
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-center">
                            <img src="{% static 'images/health/uterinefibroidsmain.webp'%}" class="img-fluid">
                        </div>
                        <div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-primary">
        <div class="card-header bg-primary text-white text-center">
            <h2>腰椎間盤病變</h2>
            <div>吳亞儒 中醫師,L.Ac.,DAOM</div>
            <div>November 8, 2020</div>                                
        </div>
        <div class="card-body">
            <div >
                <div class="row">
                    <div class="col">
                        <div>
                            腰椎退行性改變和外力作用可造成椎間盤內外壓力平衡失調，進而腰椎纖維破裂，髓核突出，導至壓破腰椎內神經的根、血管、脊髓，或馬尾神經，以至腰痛和坐骨神經痛。<br>
                            吳亞儒中醫師介紹椎間盤病的掃描影像，談椎間盤突出的不同類行。西醫和中醫的珍斷和治癒的方法。吳醫師也傳授由舌的影片來診斷腰椎間盤病變的方法。
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-center">
                            <img src="{% static 'images/health/Lumbardiscmain.webp'%}" class="img-fluid">
                        </div>
                        <div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-primary">
        <div class="card-header bg-primary text-white text-center">
            <h2>乳腺保健</h2>
            <div>吳亞儒 中醫師,L.Ac.,DAOM</div>
            <div>October 18, 2020</div>                                
        </div>
        <div class="card-body">
            <div >
                <div class="row">
                    <div class="col">
                        <div>
                            35-45歲人群高髮乳腺增生，50歲以後在美國的比例是 每七位女性就有可能其中一位乳癌患者，如何保養自己的乳腺，請看吳醫師專業的講解！
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-center">
                            <img src="{% static 'images/health/mammaryglandmain.webp'%}" class="img-fluid">
                        </div>
                        <div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-primary">
        <div class="card-header bg-primary text-white text-center">
            <h2>胃酸倒流</h2>
            <div>吳亞儒 中醫師,L.Ac.,DAOM</div>
            <div>October 11, 2020</div>                                
        </div>
        <div class="card-body">
            <div >
                <div class="row">
                    <div class="col">
                        <div>
                            胃酸倒流可以造成胃食管反流病，包括非縻爤性反流病，反流性食管炎，Barrett食管。吳中醫師先介紹人體防止胃酸逆流的結構，再談老年胃酸逆流的原因，其臨床症狀。
                            然後教授鑒別診斷的方法。在治療上則由生活習慣改善，中西醫的治療方法。最後教導如何由舌頭診斷胃酸倒流的原因的方法。
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-center">
                            <img src="{% static 'images/health/AcidRefluxmain.webp'%}" class="img-fluid">
                        </div>
                        <div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-primary">
        <div class="card-header bg-primary text-white text-center">
            <h2>秋季脫髮（季節性脫髮）</h2>
            <div>吳亞儒 中醫師,L.Ac.,DAOM</div>
            <div>October 4, 2020</div>                                
        </div>
        <div class="card-body">
            <div >
                <div class="row">
                    <div class="col">
                        <div>
                            這堂課由吳亞儒醫師從毛髪結構，頭髮生長和生命開始談起，再講述影響頭髪的營養、內分泌、神經、X光和化學物。
                            吳醫師教大家養髪秘訣。再教導飲食、食療、中成葯、中葯治療脫髪的方法。最後吳醫師示範由舌頭診斷脫髪的原因
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-center">
                            <img src="{% static 'images/health/hairlossmain.webp'%}" class="img-fluid">
                        </div>
                        <div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-primary">
        <div class="card-header bg-primary text-white text-center">
            <h2>膽囊炎和膽結石</h2>
            <div>吳亞儒 中醫師,L.Ac.,DAOM</div>
            <div>September 27, 2020</div>                                
        </div>
        <div class="card-body">
            <div >
                <div class="row">
                    <div class="col">
                        <div>
                            華人慢性膽囊炎、膽囊結石患病率為 16%,而伴有結石的膽囊炎，佔所有慢性膽囊炎的90%～95%。西醫通常只治標不治本或以切除膽的方式來預防癌症。
                            吳亞儒中醫師先解説膽囊炎和膽結石的原因和症狀,西醫對兩種病的治療，再談中醫的看法和如何以中葯，針灸和改善飲食和生活習慣的方式由治本和治標同時醫療。吳中醫師並講解示範由舌診斷的方法。
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-center">
                            <img src="{% static 'images/health/cholecystitismain.webp'%}" class="img-fluid">
                        </div>
                        <div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-primary">
        <div class="card-header bg-primary text-white text-center">
            <h2>膽囊炎和膽結石</h2>
            <div>吳亞儒 中醫師,L.Ac.,DAOM</div>
            <div>September 27, 2020</div>                                
        </div>
        <div class="card-body">
            <div >
                <div class="row">
                    <div class="col">
                        <div>
                            華人慢性膽囊炎、膽囊結石患病率為 16%,而伴有結石的膽囊炎，佔所有慢性膽囊炎的90%～95%。西醫通常只治標不治本或以切除膽的方式來預防癌症。
                            吳亞儒中醫師先解説膽囊炎和膽結石的原因和症狀,西醫對兩種病的治療，再談中醫的看法和如何以中葯，針灸和改善飲食和生活習慣的方式由治本和治標同時醫療。吳中醫師並講解示範由舌診斷的方法。
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-center">
                            <img src="{% static 'images/health/cholecystitismain.webp'%}" class="img-fluid">
                        </div>
                        <div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-primary">
        <div class="card-header bg-primary text-white text-center">
            <h2>痔瘡與預防</h2>
            <div>吳亞儒 中醫師,L.Ac.,DAOM</div>
            <div>September 20, 2020</div>                                
        </div>
        <div class="card-body">
            <div >
                <div class="row">
                    <div class="col">
                        <div>
                            吳亞儒中醫師帶您了解生痔瘡的緣故，痔瘡的分期，痔瘡和肛裂，腫瘤，肛周膿腫的症狀差別。痔瘡的治療只有10%需開刀。
                            吳醫師講述如何以針灸和中葯有效地治療痔瘡，如何預防，如何由舌頭診斷痔瘡和其病因。
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-center">
                            <img src="{% static 'images/health/hemorrhoidmain.webp'%}" class="img-fluid">
                        </div>
                        <div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-primary">
        <div class="card-header bg-primary text-white text-center">
            <h2>蕁麻疹</h2>
            <div>吳亞儒 中醫師,L.Ac.,DAOM</div>
            <div>September 13, 2020</div>                                
        </div>
        <div class="card-body">
            <div >
                <div class="row">
                    <div class="col">
                        <div>
                            吳亞儒醫師先解説蕁痲疹的誘因，感染的方式和如何確診。<br>
                            接著談中醫如何分辨蕁痲疹的類型和如何用針灸，拔罐，刮痧，中药和改變平常飲食保健的治療的方法。吳醫師還以舌診的真實案例來示範課程解説的內容。最後解説如何護理患者。
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-center">
                            <img src="{% static 'images/health/Urticariamain.webp'%}" class="img-fluid">
                        </div>
                        <div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-primary">
        <div class="card-header bg-primary text-white text-center">
            <h2>更年期</h2>
            <div>吳亞儒 中醫師,L.Ac.,DAOM</div>
            <div>September 6, 2020</div>                                
        </div>
        <div class="card-body">
            <div >
                <div class="row">
                    <div class="col">
                        <div>
                            更年期綜合徵是指婦女在絕經期前後，因為卵巢功能逐漸衰退或喪失，導致雌激素水平下降， 
                            從而引起的以自主神經系統功能紊亂和代謝障礙為主的一系列症候群。而中醫對於主神經系統功能紊亂和代謝障礙為主有著良好的療效。<br>

                            更年期答平均從40歲左右開始到70歲左右，大約30年！絕經之後造成由於缺乏雌激素而發生一系列生理與病理變化，一般要經歷15～20年，甚至更長 。<br>

                            你想盡可能地保持青春美麗，延緩衰老嗎？而雌激素的下降（中醫講的腎虛）就是根本原因。讓吳亞儒中醫師教妳秘訣。<br>
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-center">
                            <img src="{% static 'images/health/menopausemain.webp'%}" class="img-fluid">
                        </div>
                        <div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-primary">
        <div class="card-header bg-primary text-white text-center">
            <h2>肩痛（包括五十肩）</h2>
            <div>吳亞儒 中醫師,L.Ac.,DAOM</div>
            <div>August 30, 2020</div>                                
        </div>
        <div class="card-body">
            <div >
                <div class="row">
                    <div class="col">
                        <div>
                            肩痛可以由肩內或肩外因素造成。吳亞儒中醫師和大家分享各種因素能導致的症狀，並解説如何以運動，艾灸，刮痧，按摩，外敷等方法治療改善。
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-center">
                            <img src="{% static 'images/health/shoulderpainmain.webp'%}" class="img-fluid">
                        </div>
                        <div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-primary">
        <div class="card-header bg-primary text-white text-center">
            <h2>痛經</h2>
            <div>吳亞儒 中醫師,L.Ac.,DAOM</div>
            <div>August 23, 20200</div>                                
        </div>
        <div class="card-body">
            <div >
                <div class="row">
                    <div class="col">
                        <div>
                            這裡的痛指的是經期或經行前後的週期性下腹疼痛及其他症狀。<br>
                            嚴重者:嘔吐,面色蒼白,手足厥冷，可影響工作及生活。<br>
                            也會小腹部或痛連腰骶部 ，可放射至少腹部/陰道/肛門或雙側股部，呈陣發性小腹部絞痛、脹痛、墜痛 ，持續數小時甚至1-2天。<br>
                            腹痛劇烈時: 面色蒼白/噁心嘔吐/出冷汗/手足發涼/暈厥等。痛經有原發性和繼發性痛。吳亞儒醫師講解各種痛經的徵狀,原因和治療方法。
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-center">
                            <img src="{% static 'images/health/Dysmenorrheamain.webp'%}" class="img-fluid">
                        </div>
                        <div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-primary">
        <div class="card-header bg-primary text-white text-center">
            <h2>小兒體質評估與改善</h2>
            <div>吳亞儒 中醫師,L.Ac.,DAOM</div>
            <div>August 2, 2020</div>                                
        </div>
        <div class="card-body">
            <div >
                <div class="row">
                    <div class="col">
                        <div>
                            吳亞儒醫生在小雨點基金會舉辦的小兒體質評估與改善的講座裡講解如何辨別，提高和改善體質。
                            內容包括如何增高，治療尿床，流鼻血，消化不良，怎樣改善睡眠，經常感冒，過敏，厭食等。同時也會教一些實用的中醫手法，比如小兒推拿的捏脊，揉腹來幫助加強和改善孩子的體質。
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-center">
                            <img src="{% static 'images/health/Childrenconstitutionmain.webp'%}" class="img-fluid">
                        </div>
                        <div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-primary">
        <div class="card-header bg-primary text-white text-center">
            <h2>消化功能</h2>
            <div>吳亞儒 中醫師,L.Ac.,DAOM</div>
            <div>July 19, 2020</div>                                
        </div>
        <div class="card-body">
            <div >
                <div class="row">
                    <div class="col">
                        <div>
                            吳亞儒中醫師會解釋什麼樣的飲食習慣最適合我們人體，也解釋各種消化系統疾病，包括胃腸道疾病，膽囊疾病，消化不良，腹瀉，闌尾炎等的中醫防治。
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-center">
                            <img src="{% static 'images/health/Digestivefunctionmain.webp'%}" class="img-fluid">
                        </div>
                        <div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-primary">
        <div class="card-header bg-primary text-white text-center">
            <h2>逆轉糖尿病</h2>
            <div>吳亞儒 中醫師,L.Ac.,DAOM</div>
            <div>July 12, 2020</div>                                
        </div>
        <div class="card-body">
            <div >
                <div class="row">
                    <div class="col">
                        <div>
                            糖尿病二型的實質就是新陳代謝的減慢，加上現代人的緊張和壓力造成的胰島素耐受性增加。<br>

                            吳亞儒中醫師經過三十多年的中醫學習，成功的通過艾灸和中藥溫補陽氣，增加新陳代謝，並結合針灸解除人體的緊張和經絡的瘀滯，對糖尿病有良好的療效。<br>

                            吳亞儒中醫師在本課中講解有關糖尿病的問題，教授你怎麼預防和控製糖尿病。您也會聽到經過治療，血糖情況完全控制和逆轉的實際病例見證。
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-center">
                            <img src="{% static 'images/health/diabetesmain.webp'%}" class="img-fluid">
                        </div>
                        <div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-primary">
        <div class="card-header bg-primary text-white text-center">
            <h2>頸椎病</h2>
            <div>吳亞儒 中醫師,L.Ac.,DAOM</div>
            <div>July 5, 2020</div>                                
        </div>
        <div class="card-body">
            <div >
                <div class="row">
                    <div class="col">
                        <div>
                            吳亞儒中醫師親自講頸椎病，也會講解如何通過刮痧，家庭按摩，和頸椎操來緩解頸椎病的不適，延緩病情發展。
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-center">
                            <img src="{% static 'images/health/cervicalspondylosismain.webp'%}" class="img-fluid">
                        </div>
                        <div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-primary">
        <div class="card-header bg-primary text-white text-center">
            <h2>便秘與排便不暢</h2>
            <div>吳亞儒 中醫師,L.Ac.,DAOM</div>
            <div>May 24, 2020</div>                                
        </div>
        <div class="card-body">
            <div >
                <div class="row">
                    <div class="col">
                        <div>
                            吃喝拉撒睡是我們的日常生活部分，同時也反映出我們健康狀態。不少朋友苦於便秘，或者有著這樣那樣的排便不暢問題。<br>

                            吳亞儒中醫師會在這個課程中親自示範，教你通過簡單的自我拍打按摩，改變飲食習慣，檢查自己的排便習慣， 與排便狀態來相應改變和提高健康狀態。
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-center">
                            <img src="{% static 'images/health/constipatemain.webp'%}" class="img-fluid">
                        </div>
                        <div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-primary">
        <div class="card-header bg-primary text-white text-center">
            <h2>風濕與關節痛</h2>
            <div>吳亞儒 中醫師,L.Ac.,DAOM</div>
            <div>June 28, 2020</div>                                
        </div>
        <div class="card-body">
            <div >
                <div class="row">
                    <div class="col">
                        <div>
                            此次講座是關於風濕和關節痛，夏季身體很容易濕氣纏身，很多關節痛也因此發作，天熱大家又貪涼，寒邪和濕邪容易進入體內，引起風濕和關節痛。本課教您如何保養和醫治
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-center">
                            <img src="{% static 'images/health/Rheumatismmain.webp'%}" class="img-fluid">
                        </div>
                        <div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-primary">
        <div class="card-header bg-primary text-white text-center">
            <h2>中醫體質調養 B部分: 問答＋八字和風水</h2>
            <div>吳亞儒 中醫師,L.Ac.,DAOM</div>
            <div>May 17, 2020</div>                                
        </div>
        <div class="card-body">
            <div >
                <div class="row">
                    <div class="col">
                        <div>
                            中醫體質調養倆單元的B部分。主要是 問答＋八字和風水和健康的關係
                        </div>
                        <p></p>
                        <div class="text-center">
                            <a href = "{% url 'physicalconditioning' %}" class = "card-link btn btn-dark m-2" >Detail</a>
                            <a href = "https://www.youtube.com/watch?v=GWHmJPZqHQY" class = "card-link btn btn-dark m-2" target="_blank">watch video</a>
                            
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-center">
                            <img src="{% static 'images/health/physicalconditioningmain.webp'%}" class="img-fluid">
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-primary">
        <div class="card-header bg-primary text-white text-center">
            <h2>中醫體質調養 A部分</h2>
            <div>吳亞儒 中醫師,L.Ac.,DAOM</div>
            <div>May 10, 2020</div>                                
        </div>
        <div class="card-body">
            <div >
                <div class="row">
                    <div class="col">
                        <div>
                            中醫體質調養倆單元的A部分。個體化養生 - 學會做自己健康的主人。<br>
                            最重要不是你該如何調養，而是為什麼那樣調養。
                        </div>
                        <p></p>
                        <div class="text-center">
                            <a href = "{% url 'physicalconditioninga' %}" class = "card-link btn btn-dark m-2" >Detail</a>
                            <a href = "https://www.youtube.com/watch?v=TH7glZN-86M" class = "card-link btn btn-dark m-2" target="_blank">watch video</a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-center">
                            <img src="{% static 'images/health/physicalconditioningmaina.webp'%}" class="img-fluid">
                        </div>
                        <div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-primary">
        <div class="card-header bg-primary text-white text-center">
            <h2>醫療美容</h2>
            <div>吳亞儒 中醫師,L.Ac.,DAOM</div>
            <div>January 10, 2021</div>                                
        </div>
        <div class="card-body">
            <div >
                <div class="row">
                    <div class="col">
                        <div>
                            健康就是美，身體的虛寒緊濕影響新陳代謝、修復再生和免疫力，也影響自己的容貌。要美就要注意睡眠、飲食、壓力和鍛練，要注意腎、脾，肝和心肺的健康。本課由基本中醫之道談起，指出美容的禁忌：
                            熬夜，脾胃寒，濕淤，肝緊。並告訴你如何以艾灸治療，和臉部美容的秘密。
                        </div>
                        <p></p>
                        <div class="text-center">
                            <a href = "{% url 'Cosmetology' %}" class = "card-link btn btn-dark m-2" >Detail</a>
                            <a href = "https://www.youtube.com/watch?v=acItXOsxq1M" class = "card-link btn btn-dark m-2" target="_blank">watch video</a>    
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-center">
                            <img src="{% static 'images/health/Medicalbeautymain.webp'%}" class="img-fluid">
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-primary">
        <div class="card-header bg-primary text-white text-center">
            <h2>艾灸療法</h2>
            <div>吳亞儒 中醫師,L.Ac.,DAOM</div>
            <div>May 3, 2020</div>                                
        </div>
        <div class="card-body">
            <div >
                <div class="row">
                    <div class="col">
                        <div>
                            本課程先講述艾灸的醫療理論，艾灸的施行方法，再談和示範艾灸對23種不同病症的治療。
                        </div>
                        <p></p>
                        <div class="text-center">
                            <a href = "{% url 'Moxibustion' %}" class = "card-link btn btn-dark m-2" >Detail</a>
                            <a href = "https://www.youtube.com/watch?v=soOFdSLZGYo" class = "card-link btn btn-dark m-2" target="_blank">watch video</a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-center">
                            <img src="{% static 'images/health/Moxibustionmain.webp'%}" class="img-fluid">
                        </div>
                        <div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-primary">
        <div class="card-header bg-primary text-white text-center">
            <h2>濕</h2>
            <div>吳亞儒 中醫師,L.Ac.,DAOM</div>
            <div>January 24, 2020</div>                                
        </div>
        <div class="card-body">
            <div >
                <div class="row">
                    <div class="col">
                        <div>
                            濕是因污濁堵塞，濕有內濕外濕。本課講解濕如何形成，造成那些症狀，如何調適，如何治療
                        </div>
                        <p></p>
                        <div class="text-center">
                            <a href = "{% url 'wet' %}" class = "card-link btn btn-dark m-2" >Detail</a>
                            <a href = "https://www.youtube.com/watch?v=-hKiDmA16dA" class = "card-link btn btn-dark m-2" target="_blank">watch video</a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-center">
                            <img src="{% static 'images/health/wetmain.webp'%}" class="img-fluid">
                        </div>
                        <div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-primary">
        <div class="card-header bg-primary text-white text-center">
            <h2>寒</h2>
            <div>吳亞儒 中醫師,L.Ac.,DAOM</div>
            <div>December 27, 2020</div>                                
        </div>
        <div class="card-body">
            <div >
                <div class="row">
                    <div class="col">
                        <div>
                            睡眠、飲食、壓力、鍛鍊不足或不當會造成身體的虛寒緊濕，減低新陳代謝、修復再生和免疫力。這次講課教大家寒的種類，相關穴位，如何依據中醫藥理調理身體狀態，攝取營養，改變生活習慣;或以艾灸，針灸治療。
                        </div>
                        <p></p>
                        <div class="text-center">
                            <a href = "{% url 'cold' %}" class = "card-link btn btn-dark m-2" >Detail</a>
                            <a href = "https://www.youtube.com/watch?v=ztggRURwtJk" class = "card-link btn btn-dark m-2" target="_blank">watch video</a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-center">
                            <img src="{% static 'images/health/coldmain.webp'%}" class="img-fluid">
                        </div>
                        <div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-primary">
        <div class="card-header bg-primary text-white text-center">
            <h2>花粉過敏</h2>
            <div>吳亞儒 中醫師,L.Ac.,DAOM</div>
            <div>March 7, 2021</div>                                
        </div>
        <div class="card-body">
            <div >
                <div class="row">
                    <div class="col">
                        <div>
                            由健康的四大因素和保養法則了解花粉熱和身體虛寒的關連，再由身體虚寒調理的方法談如何醫治花粉熱和過敏。
                        </div>
                        <p></p>
                        <div class="text-center">
                            <a href = "{% url 'hayfever' %}" class = "card-link btn btn-dark m-2" >Detail</a>
                            <a href = "https://www.youtube.com/watch?v=E9W2Eq3hzCk" class = "card-link btn btn-dark m-2" target="_blank">watch video</a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-center">
                            <img src="{% static 'images/health/hayfevermain.webp'%}" class="img-fluid">
                        </div>
                        <div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-primary">
        <div class="card-header bg-primary text-white text-center">
            <h2>疤痕/瘢痕和健康</h2>
            <div>吳亞儒 中醫師,L.Ac.,DAOM</div>
            <div>January 17, 2021</div>                                
        </div>
        <div class="card-body">
            <div >
                <div class="row">
                    <div class="col">
                        <div>
                            本次課程講授疤痕是如何形成的，有那些種類，身體狀況如何隨同改變。西醫如何治療疤痕,中醫如何由舌頭診斷，如何調理。
                        </div>
                        <p></p>
                        <div class="text-center">
                            <a href = "{% url 'scar' %}" class = "card-link btn btn-dark m-2" >Detail</a>
                            <a href = "https://www.youtube.com/watch?v=xq8e8Qi8epA" class = "card-link btn btn-dark m-2" target="_blank">watch video</a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-center">
                            <img src="{% static 'images/health/scarmain.webp'%}" class="img-fluid">
                        </div>
                        <div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-primary">
        <div class="card-header bg-primary text-white text-center">
            <h2>老年痴呆症 </h2>
            <div>吳亞儒 中醫師,L.Ac.,DAOM</div>
            <div>October 25, 2020</div>                                
        </div>
        <div class="card-body">
            <div >
                <div class="row">
                    <div class="col">
                        <div>
                            世界每7秒鐘就有一位老年性痴呆症新發病例。我們一起來了解不同痴呆症的症狀，老年痴呆的十大信號，測試方法，西醫治療和中醫的診斷，預防和治療的方法。
                        </div>
                        <p></p>
                        <div class="text-center">
                            <a href = "{% url 'alzheimer' %}" class = "card-link btn btn-dark m-2" >Detail</a>
                            <a href = "https://www.youtube.com/watch?v=MJWEWbF9h50" class = "card-link btn btn-dark m-2" target="_blank">watch video</a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-center">
                            <img src="{% static 'images/health/Alzheimermain.webp'%}" class="img-fluid">
                        </div>
                        <div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-primary">
        <div class="card-header bg-primary text-white text-center">
            <h2>脾氣爆躁</h2>
            <div>吳亞儒 中醫師,L.Ac.,DAOM</div>
            <div>November 21, 2020</div>                                
        </div>
        <div class="card-body">
            <div >
                <div class="row">
                    <div class="col">
                        <div>
                            脾氣暴躁可來自身體，激素水平，心理，修養和生活失調。本課程講述如何由身心，舒筋，疏肝，睡眠，鍛鍊，改善飲食，休息，情緒調節來改善脾氣。
                        </div>
                        <p></p>
                        <div class="text-center">
                            <a href = "{% url 'badtemper' %}" class = "card-link btn btn-dark m-2" >Detail</a>
                            <a href = "https://www.youtube.com/watch?v=gJc59D6A5EU" class = "card-link btn btn-dark m-2" target="_blank">watch video</a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-center">
                            <img src="{% static 'images/health/badtempermain.webp'%}" class="img-fluid">
                        </div>
                        <div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-primary">
        <div class="card-header bg-primary text-white text-center">
            <h2>減肥</h2>
            <div>吳亞儒 中醫師,L.Ac.,DAOM</div>
            <div>June 21, 2020</div>                                
        </div>
        <div class="card-body">
            <div >
                <div class="row">
                    <div class="col">
                        <div>
                            健康是一種長期的過程。此次講座演解減肥。由中醫虛寒緊濕的醫理，由睡眠、營養、壓力和鍛練的適當程度對身體狀況的影響來了解肥胖的緣由。教您如何用飲食營養，艾灸和中藥來幫助減肥
                        </div>
                        
                        <p></p>
                        <div class="text-center">
                            <a href = "{% url 'loseweight' %}" class = "card-link btn btn-dark m-2" >Detail</a>
                            <a href = "https://www.youtube.com/watch?v=_QQUgJkmPvw" class = "card-link btn btn-dark m-2" target="_blank">watch video</a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-center">
                            <img src="{% static 'images/health/loseweightmain.webp'%}" class="img-fluid">
                        </div>
                        <div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-primary">
        <div class="card-header bg-primary text-white text-center">
            <h2>高溫防護和中暑預防</h2>
            <div>吳亞儒 中醫師,L.Ac.,DAOM</div>
            <div>August 16, 2020</div>                                
        </div>
        <div class="card-body">
            <div >
                <div class="row">
                    <div class="col">
                        <div>
                            了解大熱天的熱氣可以帶來的疾病(熱衰竭，熱痙攣，熱射病),和結合中西醫對中暑的防護,急救與治療。
                        </div>
                        <p></p>
                        <div class="text-center">
                            <a href = "{% url 'hyperthermia' %}" class = "card-link btn btn-dark m-2" >Detail</a>
                            <a href = "https://www.youtube.com/watch?v=_QQUgJkmPvw" class = "card-link btn btn-dark m-2" target="_blank">watch video</a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-center">
                            <img src="{% static 'images/health/hyperthermiamain.webp'%}" class="img-fluid">
                        </div>
                        <div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-primary">
        <div class="card-header bg-primary text-white text-center">
            <h2>虛寒體質</h2>
            <div>吳亞儒 中醫師,L.Ac.,DAOM</div>
            <div>June 14, 2020</div>                                
        </div>
        <div class="card-body">
            <div >
                <div class="row">
                    <div class="col">
                        <div>
                            得病是一種長期的過程:性格，壓力，情感造成身體虛寒,到身體神經的不良反應造成病態體質而至損害體質。此講座教大家一個全盤療法:由改善禮質，到改變生活習慣和態度到治療病症。
                        </div>
                        <p></p>
                        <div class="text-center">
                            <a href = "{% url 'deficiency' %}" class = "card-link btn btn-dark m-2" >Detail</a>
                            <a href = "https://www.youtube.com/watch?v=aF2gNKayABg" class = "card-link btn btn-dark m-2" target="_blank">watch video</a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-center">
                            <img src="{% static 'images/health/Deficiencymain.webp'%}" class="img-fluid">
                        </div>
                        <div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-primary">
        <div class="card-header bg-primary text-white text-center">
            <h2>睡眠</h2>
            <div>吳亞儒 中醫師,L.Ac.,DAOM</div>
            <div>May 31, 2020</div>                                
        </div>
        <div class="card-body">
            <div >
                <div class="row">
                    <div class="col">
                        <div>
                            睡眠是最重要的健康補給的身體功能。在這座談中教您為何睡不好，如何依中醫和西醫的療理讓您睡飽，睡好。
                        </div>
                        <p></p>
                        <div class="text-center">
                            <a href = "{% url 'sleep' %}" class = "card-link btn btn-dark m-2" >Detail</a>
                            <a href = "https://www.youtube.com/watch?v=ihOafYdXhmc" class = "card-link btn btn-dark m-2" target="_blank">watch video</a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-center">
                            <img src="{% static 'images/health/sleepmain.webp'%}" class="img-fluid">
                        </div>
                        <div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-primary">
        <div class="card-header bg-primary text-white text-center">
            <h2>如何增强免疫力</h2>
            <div>吳亞儒 中醫師,L.Ac.,DAOM</div>
            <div>March 21, 2021</div>                                
        </div>
        <div class="card-body">
            <div >
                <div class="row">
                    <div class="col">
                        <div>
                            此次講座由解釋人體的免疫系統到中醫如何提高人體的免疫和各種營養的攝取。也討論中醫的辟穀，斷食與肝臟排毒的治療和免疫系統的關係。
                        </div>
                        <p></p>
                        <div class="text-center">
                            <a href = "{% url 'immunesystem' %}" class = "card-link btn btn-dark m-2" >Detail</a>
                            <a href = "https://www.youtube.com/watch?v=u5IJbKtrP4c" class = "card-link btn btn-dark m-2" target="_blank">watch video</a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-center">
                            <img src="{% static 'images/health/immunesystemmain.webp'%}" class="img-fluid">
                        </div>
                        <div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-primary">
        <div class="card-header bg-primary text-white text-center">
            <h2>刮痧療法</h2>
            <div>吳亞儒 中醫師,L.Ac.,DAOM</div>
            <div>April 26, 2020</div>                                
        </div>
        <div class="card-body">
            <div >
                <div class="row">
                    <div class="col">
                        <div>
                            此次講座談的是刮痧療法。以講解示範的方法教大家刮痧的消毒，手法，部位，時間，禁忌，和常見的病症的刮痧方法。
                        </div>
                        <p></p>
                        <div class="text-center">
                            <a href = "{% url 'guashatherapy' %}" class = "card-link btn btn-dark m-2" >Detail</a>
                            <a href = "https://www.youtube.com/watch?v=OegGqYjvh5c" class = "card-link btn btn-dark m-2" target="_blank">watch video</a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-center">
                            <img src="{% static 'images/health/guashatherapymain.webp'%}" class="img-fluid">
                        </div>
                        <div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-primary">
        <div class="card-header bg-primary text-white text-center">
            <h2>辟穀 斷食與肝臟排毒</h2>
            <div>吳亞儒 中醫師,L.Ac.,DAOM</div>
            <div>February 28, 2021</div>                                
        </div>
        <div class="card-body">
            <div >
                <div class="row">
                    <div class="col">
                        <div>
                            討論辟穀 斷食與肝臟排毒的異同，並介紹現代人的辟穀，斷食排毒的方法。
                        </div>
                        <p></p>
                        <div class="text-center">
                            <a href = "{% url 'fasting' %}" class = "card-link btn btn-dark m-2" >Detail</a>
                            <a href = "https://www.youtube.com/watch?v=gC9XU5Ez3fE" class = "card-link btn btn-dark m-2" target="_blank">watch video</a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-center">
                            <img src="{% static 'images/health/fastingmain.webp'%}" class="img-fluid">
                        </div>
                        <div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-primary">
        <div class="card-header bg-primary text-white text-center">
            <h2>新冠狀病毒中醫解讀 和居家防護與自救</h2>
            <div>吳亞儒 中醫師,L.Ac.,DAOM</div>
            <div>April 2, 2020</div>                                
        </div>
        <div class="card-body">
            <div >
                <div class="row">
                    <div class="col">
                        <div>
                            此次講座將解釋中醫如何可以幫助防禦新冠狀病毒。<br>

                            讓您知道：
                            <ol>
                                <li>新冠狀病毒的中醫認識</li>
                                <li>如何在居家隔離期間通過自我調養，增強抵抗力，減少感染或發病機會</li>
                                <li>萬一感染，如何在早期，通過中醫簡單的居家調理方式，來發汗祛濕，減輕發病或自救。</li>
                            </ol>
                        </div>
                        <p></p>
                        <div class="text-center">
                            <a href = "{% url 'covid19' %}" class = "card-link btn btn-dark m-2" >Detail</a>
                            <a href = "https://www.youtube.com/watch?v=CeaCEpAy4Dg" class = "card-link btn btn-dark m-2" target="_blank">watch video</a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-center">
                            <img src="{% static 'images/health/covid19main.webp'%}" class="img-fluid">
                        </div>
                        <div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-primary">
        <div class="card-header bg-primary text-white text-center">
            <h2>和你的身體做朋友-第一課</h2>
            <div>吳亞儒 中醫師,L.Ac.,DAOM</div>
            <div>August 22, 2020</div>                                
        </div>
        <div class="card-body">
            <div >
                <div class="row">
                    <div class="col">
                        <div>
                            和你的身體做朋友第一課介紹身體的9個容易被堵的部位，如何以呼吸運氣去體會各部位的情形，並改善自己的健康。
                        </div>
                        <p></p>
                        <div class="text-center">
                            <a href = "{% url 'befriendwithyourbody1' %}" class = "card-link btn btn-dark m-2" >Detail</a>
                            <a href = "https://youtu.be/HZ7-X8aWXyg" class = "card-link btn btn-dark m-2" target="_blank">watch video</a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-center">
                            <img src="{% static 'images/health/BeFriendwithYourBody1Main.webp'%}" class="img-fluid">
                        </div>
                        <div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-primary">
        <div class="card-header bg-primary text-white text-center">
            <h2>夏至養心</h2>
            <div>吳亞儒 中醫師,L.Ac.,DAOM</div>
            <div>July 7, 2020</div>                                
        </div>
        <div class="card-body">
            <div >
                <div class="row">
                    <div class="col">
                        <div>                            
                            吳中醫師談心臟的治療和養生。由睡眠和心臟健康的關係，談如何以穴脈的按摩來治療和保健。吳中醫師也會談如何觀察手上的血管和穴脈，
                            或觀察舌頭，肚臍診斷一個人的心臟健康和睡眠的良好度，那些徵狀是心臟損壞的特徵。因為養生比治療更重要，吳中醫師也會談如何以飲食和運動來保養心臟。
                        </div>
                        <p></p>
                        <div class="text-center">
                            <a href = "{% url 'TakeCareOfYourHeart' %}" class = "card-link btn btn-dark m-2" >Detail</a>
                            <a href = "https://youtu.be/m1bvwgWtZZY" class = "card-link btn btn-dark m-2" target="_blank">watch video</a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-center">
                            <img src="{% static 'images/health/TakeCareOfYourHeartMain.webp'%}" class="img-fluid">
                        </div>
                        <div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-primary">
        <div class="card-header bg-primary text-white text-center">
            <h2>中醫食療</h2>
            <div>吳亞儒 中醫師,L.Ac.,DAOM</div>
            <div>July 26, 2020</div>                                
        </div>
        <div class="card-body">
            <div >
                <div class="row">
                    <div class="col">
                        <div>
                            中醫食療的訣竅 是如何通過判定個人體質，然後選擇適合自己的食療方式。<br>
                            在這個中醫食療講座裡，有加州針灸執照的針灸師吳亞儒中醫師， 通過講解如何按照中醫觀念來判定你的體質，
                            然後依食物的四性五味來選擇適合你的食療。只有適合你的才是最好的。食療也是如此。               
                        </div>
                        <p></p>
                        <div class="text-center">
                            <a href = "{% url 'ChineseMedicineDietTherapy' %}" class = "card-link btn btn-dark m-2" >Detail</a>
                            <a href = "https://youtu.be/cKRzCxAKQCg" class = "card-link btn btn-dark m-2" target="_blank">watch video</a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-center">
                            <img src="{% static 'images/health/ChineseMedicineDietTherapyMain.webp'%}" class="img-fluid">
                        </div>
                        <div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-primary">
        <div class="card-header bg-primary text-white text-center">
            <h2>中醫如何治療常期腰痛</h2>
            <div>吳亞儒 中醫師,L.Ac.,DAOM</div>
            <div>August 9, 2020</div>                                
        </div>
        <div class="card-body">
            <div >
                <div class="row">
                    <div class="col">
                        <div>
                            此次講座將解釋中醫如何配合身體放鬆運動來幫助緩解慢性廢物疼痛。
                        </div>
                        <p></p>
                        <div class="text-center">
                            
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-center">
                            <img src="{% static 'images/health/LowBackPainMain.webp'%}" class="img-fluid">
                        </div>
                        <div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}