{% extends 'base.html' %}
{% load static %}

{% block page_name %}
目標和宗旨
{% endblock page_name %}

{% block content %}
    <div class="card border-primary">
        <div class="card-header bg-primary text-white text-center">
            <h2>目標和宗旨 Missions</h2>                                           
        </div>
        <div class="card-body">
            <div >
                <p>
                    小雨點基金會是成立於 2012 年的註冊非營利組織。基金會的使命是幫助社區成員過健康快樂的生活。自成立以來，基金會的活動包括:<br>
                    <ol>
                        <li>
                            建立以健康、文化和音樂為主題的社群以提暢高品質和健康的生活。
                        </li>
                        <li>
                            贊助醫療、文化和音樂的公益活動。
                        </li>
                        <li>
                            運營一個社交平台，讓會員可以有效地學習和交流知識。
                        </li>
                        <li>
                            媒介會員和專業人士之間的需求和服務，成爲提供優質服務的橋樑。​
                        </li>
                    </ol>
                    基金會所有活動不涉政治或宗教。<br>
                </p>
                ​<p>
                    自成立以來，基金會舉辦許多社區關懷活動：<br>
                    【醫學講座】： 中醫對阿茲海默​症，新冠狀病毒及多種病症的醫學講座，也包括食療，養生和保健的方法。<br>
                    【藝文講座】：聲樂藝術，雪花剪紙，書法，財產歸劃，硅谷中國人，茶道文化，皮影戲，吳玲瑤教你幽默過日子，易經，省稅座談。<br>
                    【音樂人生】：基金會舉辦了雙鋼琴演奏會。並於2019年成立了小雨點合唱團，2022年即將舉辦台灣作曲家石青如的作品音樂會，希望能讓愛好合唱的朋友，團體和社群一起享受音樂之美。<br>
                    【社區慈善】：舉辦過敬老聚餐和頒發獎學金給法律系大學生。2021年舉辦了一場《分享心中一塊寶》活動，讓學生以自選的形式講訴一個喜歡的課題。 
                    本次活動旨在增強參與者的自信，鼓勵參與者為自己喜愛的事物感到自豪，並欣賞他人的長處。 這場活動獲得了很多讚譽。<br>                    ​
                </p>
                <p>
                    基金會未來的目標是以社群的力量來服務社區：提供一個以網路為基礎的平台，讓社群團員能提出在健康，音樂和文化有關的新點子，
                    並經基金會審查和贊助以實行改善社區的新理念。希望能借所有會員的力量來一起關愛健康、服務社區。
                </p>
                <p>
                    前基金會正在籌劃幾個項目：<br>
                    【設計你的社區】：鼓勵和讚助年輕人自己設定一些改善社區的項目，培養他們發現和解決問題、團隊合作、溝通和執行計劃的能力。<br>             ​

                    【快樂小農夫】：這是一個由熱愛種菜、種花、種樹的人組成的社區，相互分享農藝知識。<br>                    ​

                    【雲淡風輕話往事】：提供主講人一個平靜的氛圍，由主講人敘述生命中的珍貴時刻，並將這些珍貴記憶保存並與社區大眾和後代分享。​<br>                ​

                    歡迎有興趣參與的朋友和基金會聯絡。
                </p>
            </div>
        </div>
    </div>
{% endblock content %}