{% extends 'base.html' %}
{% load static %}

{% block page_name %}
小雨點活動
{% endblock page_name %}

{% block content %}
    <div class="card border-primary">
        <div class="card-header bg-primary text-center">
            <h2>房地產權的法律考量/Legal Considerations for Ownership of Real Estate</h2>                     
        </div>
        <div class="card-body">
            <div class=text-center>  
                <div>Mar 30, 2019</div>
                <div>Michael Lee and Xiaowei Li (李曉薇） </div>     
                <div>
                    <img src="{% static 'images/culture/MichaelLee.webp'%}" class="img-fluid bg-dark">
                </div>
                <p></p>         
                <div>
                    這次講座,小雨點基金會特別邀請到知名的睿騁|硅谷律師事務所Michael Lee律師和李曉薇律師為大家主講 - 在投資買房地產時,會面臨的各項情況及法律相關規定。
                    睿騁|硅谷律師事務所專精處理公司成立、商業糾紛、房地產買賣/糾紛、民事訴訟、遺囑認證…等業務,客戶包括個人、本地公司商業行號或中小型美中跨國企業, 實務經驗相當豐富
                </div>
                <p></p> 
                <a href="https://youtu.be/zLBN49bLYCI" target="_blank" class="card-link btn btn-dark m-2">Watch Video</a>
                <!--               
                <iframe width="400" height="300"
                src="https://www.youtube.com/embed/1Ii-k7jt1pM?autoplay=1&mute=1">                
                </iframe>--> 
            </div>
            <p></p>
            <div>
                這個演講是關於房地產所有權的。<br>
                它將涵蓋以下主題。<br>
                獨資 - 個人或商業實體<br>
                共同擁有:社區財產,聯合租戶,共同租戶<br>

                獨資個人或單一商業實體<br>
                • 區別特徵<br>
                • 單身業主<br>
                • 最簡單的結構<br>
                • 如果是個人，必須考慮在離婚死亡時轉移<br>
                • 個人特別規則<br>
                離婚：如果在婚後購買，則推定它是用社區資金購買的，因此是離婚的社區財產的一部分<br>
                遺囑認證：如果標題顯示“唯一和獨立”，則出於無遺囑目的，該財產被視為單獨財產<br>

                共同所有權，社區財產<br>
                配偶或已註冊的同居伴侶在婚後/同居伴侶關係中獲得財產。<br>
                與共同租戶不同，任何一方均不得單方面轉讓或單獨負擔共同財產利益。<br>
                當事人可以“轉化”他們的共同財產以分離財產利益。<br>
                每一方都擁有完整的遺囑權利（因此可以將遺囑財產交給他/她希望的任何人）。<br>

                共同所有權，共同租戶<br>
                共同租戶：根據明確聲明共同所有權為共同租賃的轉讓文書，兩個或兩個以上的人通過同一運輸工具以同等份額獲得財產，同時擁有相同的所有權。<br>
                倖存：任何联名租戶死亡後，她的利益將依法轉移給倖存的聯名租戶。<br>
                遣散費：共同租戶可以在有或沒有其他聯名租戶同意的情況下通過雙方協議、書面聲明或轉讓終止。<br>
                風險：• 分割 • 債權人<br>

                共同所有權租用人<br>
                非聯合，社區或合夥制的所有共同所有權；但是，許多人明確選擇了“普通租戶”。普通租戶對各自的利益擁有各自的法定權利。沒有倖存者，沒有平等利益的要求。<br>
                所有普通租戶均可自由出售，轉讓，負擔，設計，遺贈利息。<br>
                風險：• 債權人 • 遺囑認證 • 劃分<br>

                共同所有權協議<br>
                可以通過合作協議解決某些合作關係問題<br>
                不是合夥協議，根據該州的《加利福尼亞州法典》也不能將其視為合夥。<br>
                書面協議，規定了有關所有權的各方協議<br>
                協議備忘錄通常被記錄下來，以防止善意的購買者或貸方和其他負擔。<br>
                解決的問題：<br>
                轉讓權<br>
                保留權<br>
                控制與管理<br>
                終止關係，出售財產<br>
                糾紛解決<br>
                企業實體解決方案 - 一般合作<br>
                “由兩個或兩個以上人組成的協會，以共同所有人的名義從事牟利業務”<br>
                “兩個或兩個以上的人聯合以共同所有人的名義從事營利性業務，構成合夥，而不論這些人是否打算合夥成立”<br>
                合作夥伴被視為彼此的代理。因此，在合夥企業業務範圍內行動的每個合夥人都會約束其他合夥人。對所有合作夥伴的個人責任不限。<br>
                商業實體解決方案有限合夥公司/有限責任公司<br>
                註冊業務結構<br>
                每個公司通常都有LP或LLC協議，以及加利福尼亞法規中復雜的默認規則。<br>
                可以指定承擔責任的普通合夥人或常任理事國–被動投資者僅承擔投資的風險價值，而不承擔個人資產的風險。<br>
                需要納稅報告和納稅申報表歸檔。<br>

                遺產規劃<br>
                可撤銷的生活信任您需要一個嗎
                信託是一種安排，其中一個人“財產授予人”將財產作為“受託人”提供給另一人（或他或她自己），而“受託人”為另一人“受益人”擁有財產的合法所有權。<br>
                委託人，受託人和受益人可以是同一個人。<br>
                目的：避免遺囑認證，簡化分發和管理，避免競賽並提供隱私<br>

                遺囑認證，法律程序<br>
                遺囑認證是指法院監督從死者的遺產中轉移財產合法所有權給受益人的程序。<br>
                小型房地產：$ 150,000以下（個人和房地產）<br>
                積極和消極的方面<br>

                將會如何有效<br>
                死亡後進行互動的法律文件<br>
                組成部分：受益人，未成年兒童監護人，遺產管理人<br>
                需要遺囑認證管理類型：全息，法定表格，證人遺囑<br>
                如果您不提前計劃，請執行繼任權...<br>
                神話<br>
                四個主要類別：問題（兒童），配偶，父母，兄弟姐妹<br>
                共同財產和獨立財產<br>
                完整的遺囑認證程序<br>

                家居裝修<br>
                預防性的預防措施可以治愈<br>
                僱用持牌承包商：經驗，擔保<br>
                運行後台檢查：許可證，聲譽，法庭記錄<br>
                獲得工人賠償保險<br>
                簽訂房屋裝修合同：付款時間表，分包合同<br>

                解決方案衝突是不可避免的,步驟：<br>
                寫一封請願信<br>
                向許可委員會提出投訴：調解、調查、仲裁<br>
                向小額索償法庭提出投訴：負擔得起的費用，10,000 美元的限額，快速<br>
                向高等法院提出投訴：平衡測試、訴訟時效<br>
            </div>
        </div>
    </div>
{% endblock content %}