{% extends 'base.html' %}
{% load static %}

{% block page_name %}
美容保養 
{% endblock page_name %}

{% block content %}
    <div class="card border-primary">
        <div class="card-header bg-primary text-center">
            <h2>中醫食療</h2>
                      
        </div>
        <div class="card-body">
            <div class=text-center>
                <h2>減肥</h2>
                <div>Jun 21, 2020</div>
                <div>吳亞儒 中醫師，L.Ac.,DAOM</div>
                <img src="{% static 'images/health/drwu.webp'%}" class="img-fluid">                     
                <p></p>
                <div>
                    健康是一種長期的過程。此次講座演解減肥。由中醫虛寒緊濕的醫理，由睡眠、營養、壓力和鍛練的適當程度對身體狀況的影響來了解肥胖的緣由。教您如何用飲食營養，艾灸和中藥來幫助減肥。
                </div>
                <p></p>
                 
            </div>
            
        </div>
    </div>
{% endblock content %}