{% extends 'base.html' %}
{% load static %}

{% block page_name %}
小雨點活動
{% endblock page_name %}

{% block content %}
    <div class="card border-primary">
        <div class="card-header bg-primary text-center">
            <h2>敬老聚餐</h2>                     
        </div>
        <div class="card-body">
            <div class=text-center>  
                <div>Mar 13, 2013</div>
                <div>小雨點基金會</div> 
                               
                <p></p>         
                <div>
                    2013 和 2014 敬老聚餐包括壽司午餐和卡拉OK.
                </div>
                <p></p> 
                <a href="https://youtu.be/dtvhLbrxQpo" target="_blank" class="card-link btn btn-dark m-2">Watch Video</a>
                <!--               
                <iframe width="400" height="300"
                src="https://www.youtube.com/embed/1Ii-k7jt1pM?autoplay=1&mute=1">                
                </iframe>--> 
            </div>
            <p></p>
            <div>
                小雨點基金會(J & H Foundation) 於2013，2014 舉辦 敬老聚餐，包括午餐和卡拉OK.帶給老人歡笑。
            </div>
        </div>
    </div>
{% endblock content %}