{% extends 'base.html' %}
{% load static %}

{% block page_name %}
醫學講座
{% endblock page_name %}

{% block content %}
    <div class="card border-primary">
        <div class="card-header bg-primary text-center">
            <h2>淘米水之養顏法</h2>
                     
        </div>
        <div class="card-body">
            <div class=text-center>  
                <div>Apr 21, 2021</div>
                <div>小雨點基金會</div>     
                <p></p>         
                <div>洗過米的水含有蛋白質,澱粉,礦物質和豐富的维生素，可以使皮膚白皙,可以去除黑斑。</div>
                <p></p>                
                <iframe width="400" height="300"
                src="https://www.youtube.com/embed/1Ii-k7jt1pM?autoplay=1&mute=1">                
                </iframe> 
            </div>
            <p></p>
            <div>
                您知道淘米水可以使皮膚白皙，可以去除黑斑嗎？<br>

                洗過米的水含有蛋白質，澱粉，礦物質，各種維生素和微量元素，有益皮膚的健康。它有大米表皮的養份，和豐富的维生素B,E 。
                可去黑色素，淡化雀斑，美白滋潤肌膚。頭一兩次的淘米水呈PH值5.5左右的弱酸性。皮膚在此範圍的PH質下最能有效地吸收營養。<br>

                製造美容用的淘米水可先將白米洗一次，將水倒掉。再以清水攪泮清洗米一次,放置約十五分鐘後將水倒到水盆。每日可以用淘米水冲洗身體一回，或清洗黑斑處，<br>
                持續不斷就可以使皮膚白晢細膩。<br>
            </div>
        </div>
    </div>
{% endblock content %}