{% extends 'base.html' %}
{% load static %}

{% block page_name %}
小雨點文化談
{% endblock page_name %}

{% block content %}
    <div class="card border-primary">
        <div class="card-header bg-primary text-center">
            <h2>皮影戲和木版年畫</h2>                     
        </div>
        <div class="card-body">
            <div class=text-center>  
                <div>Sep 26, 2017</div>
                <div>魯漢，崔鵬</div>     
                <div>
                    <img src="{% static 'images/culture/LuHan.webp'%}" class="img-fluid bg-dark">
                </div>
                <p></p>         
                <div>
                    小雨點慈善基金會(J&H Foundation)邀請青島市民間藝術家魯漢和崔鵬到訪灣區，並於2017年9月26日在桑尼維爾的河洛醫科大學禮堂舉行製作表演。許多家長和孩子參加。
                    小朋友也在現場把玩皮影戲偶，製作木版年畫，親身體驗中華傳統文化。<br>

                    崔鵬與母親在青島開創大嘴巴皮影班，也在當地多所小學開辦皮影課。她指出皮影戲在中華文史記載中已有超過一千年的歷史。皮影戲是最不受限制的表演模式。
                    皮影戲能在劇中殺死角色，讓人變成動物，也可輕鬆切換水陸等場景。<br>

                    青島市手工藝協會會長魯漢表示，木版年畫是中國古老印刷方法。以木板刻出門神、財神、灶神等圖示再轉印到紙上。
                    傳統時代家家戶戶都會張貼木版年畫在門口以求平安財運和事事順遂。他在現場表演示範如何製作財神木版年畫。兩位藝術家已訪問美國多個城市的學校加博物館，
                    希望能將這兩項手工藝傳揚全美各地。
                </div>
                <p></p> 
                <a href="https://youtu.be/H_3b4EJZ-w4" target="_blank" class="card-link btn btn-dark m-2">Watch Video</a>
                <!--               
                <iframe width="400" height="300"
                src="https://www.youtube.com/embed/1Ii-k7jt1pM?autoplay=1&mute=1">                
                </iframe>--> 
            </div>
            <p></p>
            <div>
                皮影戲，又稱“影子戲”或“燈影戲”，是一種以獸皮或紙板做成的人物剪影以表演故事的民間戲劇。表演時，藝人們在白色幕布後面，一邊操縱影人，一邊用當地流行的曲調講述故事，
                同時配以打擊樂器和弦樂，有濃厚的鄉土氣息。其流行範圍極為廣泛，並因各地所演的聲腔不同而形成多種多樣的皮影戲。<br>
                皮影戲是中國民間古老的傳統藝術，老北京人都叫它“驢皮影”。據史書記載，皮影戲始於西漢，興於唐朝，盛於清代，元代時期傳至西亞和歐洲，可謂歷史悠久，源遠流長。<br>
                木版年畫<br>
                木版年畫是中國歷史悠久的傳統民間藝術形式，有一千多年的歷史。到了清代中晚期，民間年畫達到了鼎盛階段。在中國民間，年畫就是年的象徵，不貼年畫就不算過年。<br>
                年畫已不僅是節日的裝飾品，它所具有的文化價值和藝術價值，使它成為反映中國民間社會生活的百科全書。 2008年6月7日，木版年畫經國務院批准列入第二批國家級非物質文化遺產名錄。<br>

                2017年9月26日晚上8:00～9:30, 在Sunnyvale 河洛醫科大學一樓大禮堂，青島市著名民間藝術家魯漢、青島市皮影製作與表演藝術家崔鵬將來到舊金山，
                為灣區熱愛中國傳統文化的孩子們奉上一場生動的皮影戲與木版年畫製作表演。<br>
                兩位藝術家此行是參加中國文化部組織的“文化力”中美民間文化交流活動。兩位藝術家已經在美國東部的7個城市、8所學校、3個博物館，分別向近萬名青少年展示了木版年畫、
                皮影等民間手工藝術，深受孩子們的喜歡，通過此次文化交流，讓遠隔重洋的美國近距離感受到了中國傳統文化綻放的魅力。
                魯漢，中國民俗學會會員，山東省民俗學會常務理事，青島市手工藝協會會長，青島市民間文藝家協會副主席，山東省首批“齊魯文化之星”.<br>

                崔鵬，青島市皮影製作、表演藝術家。隨母親組建的大嘴巴皮影班在青島市廣受歡迎，在多所小學開辦皮影課堂，曾參加全國少兒皮影展演，榮獲創新獎。她致力於皮影的創新變化，一口流利的英語更是將中國皮影生動有趣地介紹給美國學生.
            </div>
        </div>
    </div>
{% endblock content %}