{% extends "base.html" %}
{% load static %}
{% block page_name%}
邵孔川
{%endblock page_name%}

{% block content%}
<div class="card border-primary ">
    <div class="card-header bg-primary text-center">
        <h2>往日情懷演唱會 - 邵氏父女演唱會</h2>        
    </div>
    <div class="card-body ">
        <div class="text-center">
            <div>時間 : 2/19/2023</div>
            <div>地點 : Nov 16, 2018</div>
            <div>Harmonious Four <br> 
                Candra Kou (flute), Haidi Lim (violin), Cara Wang (cello), Oliver Corro (piano)</div>
            <div>
                <img src="{% static '/images/ShaoKongchuan/ShaoFatherandDaughter-0.png' %}" class="img-fluid">
            </div>            
        </div>
        
        <div >
            <p>
                為讓灣區僑胞能再重溫西洋老歌舊夢，昔日風華及美妙旋律，小雨點基金會2月18日下午舉辦「往日情懷」演唱會活動，特別安排四、
                五十年代的歌曲及熟悉的旋律，讓參與饗宴的朋友懷念昔日的音符，勾起點點滴滴的回憶，喚起當年美好的情景。</p>
            <p>
                演唱會由基金會志工何佳民主持，她說明小雨點基金會成立於2012年，是美國註冊的非營利機構，宗旨是關愛健康，服務社區。</p>
            <p>
                「音樂歲月的饗宴」由灣區邵孔川老師及女兒邵孟珊共同演唱，表演相當精彩，曲曲都是經典老歌，演唱的20首歌曲分五大部份，
                包括Classic 60s Pop、Musical Theater、Folk songs with guitar、Folk Tracks及Opera，有獨唱也有合唱，每一首回憶的老歌多引起觀眾的回憶及掌聲。</p>
            <p>
                邵孔川也分享學習音樂的往事。他從小發現彈吉他可以邊彈邊唱，但拉小提琴無法唱歌，因此從那時候開始就買一本民謠吉他，感受吉他自彈自唱的樂趣。
                他從13歲開始練唱及彈吉他，到了高中就組樂團，同時參與許多表演。</p>
            </p>
                「Five Hundred Miles」是最受人喜愛的美國鄉村民謠之一，邵孔川與女兒邵孟珊的歌聲中，帶動現場熱鬧氣氛，表演者與觀眾彼此間近距離互動，
                演出獲得如雷掌聲，也讓在場人員度過了美好的週末。</p>
        </div>
        <div>            
            <div class="responsive">
                <div class="gallery">
                    <img src="{% static '/images/ShaoKongchuan/ShaoFatherandDaughter-1.jpg' %}" alt="Cinque Terre" width="600" height="400">                    
                </div>
                <div class="desc">Add a description of the image here</div>
            </div>
            <div class="responsive">
                <div class="gallery">
                    <img src="{% static '/images/ShaoKongchuan/ShaoFatherandDaughter-2.jpg' %}" alt="Cinque Terre" width="600" height="400">                    
                </div>
            </div>
            <div class="responsive">
                <div class="gallery">
                    <img src="{% static '/images/ShaoKongchuan/ShaoFatherandDaughter-3.jpg' %}" alt="Cinque Terre" width="600" height="400">                    
                </div>
            </div>
            <div class="responsive">
                <div class="gallery">
                    <img src="{% static '/images/ShaoKongchuan/ShaoFatherandDaughter-4.jpg' %}" alt="Cinque Terre" width="600" height="400">                    
                </div>
            </div>            
            <div class="clearfix"></div>
            
        </div>  
        <p></p>
        <div class="text-center">
            <iframe width="714" height="431" src="https://www.youtube.com/embed/0CkwYxuWGqY" title="小雨點基金會往日情懷演唱會 享受音樂歲月的饗宴" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>      
    </div>
</div>
{% endblock content%}