{% extends 'base.html' %}
{% load static %}

{% block page_name %}
眭澔平演唱會
{% endblock page_name %}

{% block content %}
    <div class="card border-primary">
        <div class="card-header bg-primary text-center">
            <h2>演唱會：【夢中的橄欖樹】</h2>                     
        </div>
        <div class="card-body">
            <div class=text-center>  
                <div>時間：05/05/23 ;  星期五  脕上； 06pm -09pm</div>
                <div>
                    地點：Cupertino Quinlan Center 10185 N. Stelling Road, Cupertino, CA. 95014

                </div>
                <div>眭澔平</div>   
                
                <p></p>         
                
                <!--               
                <iframe width="400" height="300"
                src="https://www.youtube.com/embed/1Ii-k7jt1pM?autoplay=1&mute=1">                
                </iframe>--> 
            </div>
            <p></p>
            <div>
                特別邀請金曲獎全能博士歌手, 眭（音許）澔平為演唱會佳賓！<br>
                演唱會將以串聯經典歌曲的方式進行，呈現曲目為重溫舊夢的動人老歌！從紀念三毛，一路走過華語流行歌小編年史，包括古詩詞與黃梅調、
                大上海時代、港台星馬群星會、瓊瑤情歌、校園民歌等⋯<br>

                眭澔平的歌聲將帶給您滿滿的感動。大家一起來享受音樂歲月的饗宴。<br>

                演唱會前加映一個小時，由眭澔平製作、導演的, 國際影展參賽作品「重聚」；此影片集結他三十多年的旅遊精華，是他「愛與夢的旅行篇」。
            </div>
            <div>
                <div class="responsive">
                    <div class="gallery">                    
                        <img src="{% static 'images/suihaoping/1.jpg'%}" width="600">                    
                    </div>
                </div>
                <p></p>
                <div class="responsive">
                    <div class="gallery">
                        <img src="{% static 'images/suihaoping/2.jpg'%}" width="300">
                    </div>
                </div>
                <p></p>
                <div class="responsive">
                    <div class="gallery">
                        <img src="{% static 'images/suihaoping/3.jpg'%}" width="600">
                    </div>
                </div>
                <p></p>
                <div class="responsive">
                    <div class="gallery">
                        <img src="{% static 'images/suihaoping/4.jpg'%}" width="600">
                    </div>
                    <p></p>
                </div>
                <div class="responsive">
                    <div class="gallery">
                        <img src="{% static 'images/suihaoping/5.jpg'%}" width="600">
                    </div>
                </div>
                <div class="responsive">
                    <div class="gallery">
                        <img src="{% static 'images/suihaoping/6.jpg'%}" width="600">
                    </div>
                </div>
                <p></p>
                <div class="responsive">
                    <div class="gallery">
                        <img src="{% static 'images/suihaoping/7.jpg'%}" width="600">
                    </div>
                    <p></p>
                </div>
                <div class="responsive">
                    <div class="gallery">
                        <img src="{% static 'images/suihaoping/8.jpg'%}" width="600">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}