{% extends 'base.html' %}
{% load static %}

{% block page_name %}
眭澔平演講會
{% endblock page_name %}

{% block content %}
    <div class="card border-primary">
        <div class="card-header bg-primary text-center">
            <h2>演講會: 【永遠的約定】</h2>                     
        </div>
        <div class="card-body">
            <div class=text-center>  
                <div>時間：05/07/23 ;  星期日 下午；03pm-05:30pm</div>
                <div>地點：Milpitas  Community Center 457 East Calaveras Blvd., Milpitas, CA. 95035</div>
                <div>眭澔平</div>     
                
                <p></p>         
                <div>
                    
                </div>
                <p></p>                 
                <embed src="{% static 'videos/5_7_2023suihaoping-002.MOV'%}" width=600 height=416 controller=true autoplay=false PLUGINSPAGE="http://www.apple.com/quicktime/">             
                
                <embed src="{% static 'videos/5_7_2023suihaoping-001.MOV'%}" width=600 height=416 controller=true autoplay=false PLUGINSPAGE="http://www.apple.com/quicktime/">
            </div>
            <p></p>
            <div>
                在台灣被票選為，擁有最令人羨慕的人生的 眭(音許）澔平， 將給矽谷的朋友們，帶來一場很特別的「三合一演講會 」（融合演講，影片和表演)。<br>
                眭澔平三十年環遊世界的行，充滿不可思議的親身經歷。百聞不如一見，集演講家、旅行家、冒險家，作家，學者等身份於一身，讓我們一起見證眭澔平實體演講的感動。<br>
                眭皓平會親自見證他走過的足跡，如何實踐三毛的末竟之夢，及如何實現了彼此永恆約定的承諾。
                
            </div>
            
        </div>
    </div>
{% endblock content %}