{% extends 'base.html' %}
{% load static %}

{% block page_name %}
醫學講座
{% endblock page_name %}

{% block content %}
    <div class="card border-primary">
        <div class="card-header bg-primary text-center">
            <h2>夏至養心</h2>
                      
        </div>
        <div class="card-body">
            <div class=text-center>
                <div>Jul 7, 2020</div>
                <div>吳亞儒 中醫師，L.Ac.,DAOM</div>
                <img src="{% static 'images/health/drwu.webp'%}" class="img-fluid">    
            </div>
            <p></p>
            <div>                             
                中醫師談心臟的治療和養生。由睡眠和心臟健康的關係，談如何以穴脈的按摩來治療和保健。吳中醫師也會談如何觀察手上的血管和穴脈，
                或觀察舌頭，肚臍診斷一個人的心臟健康和睡眠的良好度，那些徵狀是心臟損壞的特徵。因為養生比治療更重要，吳中醫師也會談如何以飲食和運動來保養心臟。                
            </div>
            <p></p>
            <div class="text-center">
                
                <a href="https://youtu.be/m1bvwgWtZZY" class="card-link btn btn-dark m-2" target="_blank">Watch Video</a>
            </div>
            <p></p>
            <div>     
                <p>                         
                    我們的心臟從生到死， 不停在工作，就像汽車的引擎，一生中就是一個磨損消耗的問題。但是等到西​​醫檢查或者心電圖檢查確認有問題時，
                    心臟這個人體的引擎已經磨損的難以修復了。而日常我們很多的不適，都是和心臟的“勞損”有關的，如果你不想將來有“心髒病”或者“心腦血管疾病”，那在夏至前後就是保養心臟最佳的時機。
                </p>
                <p>
                    心臟勞損的人，大多會有：舌尖凹,肚臍的上部離位塌陷, 耳垂有橫紋, 暗色或豬肝色嘴唇,前臂內關穴有青筋，
                    也一定會在前胸發現壓痛和陽性反應點以及心包經壓痛。如果有關節痛，在夜里或早上起來加重，左肩背慢性疼痛,後背心發涼 / 酸痛發緊沉重， 
                    中指/小指麻痛,手指腫脹，都要考慮可能有不同程度的心臟勞損。
                </p>
                <p>
                    有過焦慮綜合症，在睡眠時有胸口壓榨感覺，或者惡夢連連，以及常常盜汗， 出冷汗，長期手腳冰涼，以及常常心慌，
                    心律失常和心絞痛的人，每年夏至做心臟保養則是必不可少的養生。
                </p>
                <p>
                    吳亞儒中醫師會帶大家一起，通過檢查你自己身體上的一些體徵，來觀察你的心臟勞損情況。
                </p>
            </div>
            
        </div>
    </div>
{% endblock content %}