{% extends 'base.html' %}
{% load static %}

{% block page_name %}
小雨點文化談
{% endblock page_name %}

{% block content %}
    <div class="card border-primary">
        <div class="card-header bg-primary text-center">
            <h2>茶文化 講座</h2>                     
        </div>
        <div class="card-body">
            <div class=text-center>  
                <div>Mar 19, 2017</div>
                <div>瞿旭平老師</div>     
                <div>
                    <img src="{% static 'images/culture/QuXuping.webp'%}" class="img-fluid bg-dark">
                </div>
                <p></p>         
                <div>
                    「茶道·茶藝·茶文化 (The Tea Ceremony, Tea Art, Tea Culture)」講座訪於2017年3月19日舉行，地點在：Los Altos Library， Los Altos， CA 演講廳.，是一場難得品茗茶文化饗宴。
                </div>
                <p></p> 
                <a href="https://youtu.be/-iba1Ue1seM" target="_blank" class="card-link btn btn-dark m-2">Watch Video</a>
                <!--               
                <iframe width="400" height="300"
                src="https://www.youtube.com/embed/1Ii-k7jt1pM?autoplay=1&mute=1">                
                </iframe>--> 
            </div>
            <p></p>
            <div>
                「茶道·茶藝·茶文化講座」邀請到瞿旭平老師主講，她是中國國際茶文化研究會副秘書長、浙江傳忠國術研究院常務理事、杭州市上城區茶文化研究會秘書長、
                「點茶」非物質文化遺產保護項目負責人、教育領導學碩士研究生、國家級心理諮詢師，她對茶情有獨鐘，對中國茶文化的發展有非常廣博研究、深入體會、及獨到的見的。<br>

                來自龍井茶故鄉杭州的瞿旭平老師表示，中國茶的分類，按品質特點和發酵程度的不同，可分為;綠茶、紅茶、烏龍茶(青茶)、白茶、黃茶、和黑茶六大類。
                而以此六大類茶再進行加工，則稱為「再加工茶」，諸如花茶、緊壓茶、茶飲料等。<br>

                在茶道·茶藝·茶文化講座中，瞿旭平老師將和你一起領略茶文化的博大精深，說明中國茶如何傳播至日本、韓國、英國，以及演變出不同民族特色的茶藝。
                講座會藉由語言、視頻、及圖片，來生動展現「喝茶」、「飲茶」、「吃茶」、「用茶」、「玩茶」、及「事茶」六茶共舞的意境，由瞿老師演示，教你正確操作茶道、
                茶具，深入淺出，與您互動，讓您親自體驗茶文化無窮魅力。
            </div>
        </div>
    </div>
{% endblock content %}