{% extends 'base.html' %}
{% load static %}

{% block page_name %}
文化天地
{% endblock page_name %}

{% block content %}
    <div class="card border-primary">
        <div class="card-header bg-primary text-center">
            <h2>陰陽的隱含意義</h2>                     
        </div>
        <div class="card-body">
            <div class=text-center>  
                <div>Aug 2, 2013</div>
                <div>約翰·貝拉米（John Bellaimey)</div> 
                <div>
                    <img src="{% static 'images/culture/YanLizhong.webp'%}" class="img-fluid bg-dark">
                </div>               
                <p></p>         
                <div>
                    陰陽符號無處不在，源於中國的宗教和哲學道教/道教。 陰暗的漩渦與陰影，女性氣質和波谷有關。 
                    旋流的陽氣代表亮度，激情和成長。 約翰·貝拉米（John Bellaimey）解釋了為什麼我們所有人都包含陰陽氣息，以及我們如何在生活中實現兩者的平衡。
                </div>
                <p></p> 
                <a href="https://youtu.be/ezmR9Attpyc" target="_blank" class="card-link btn btn-dark m-2">Watch Video</a>
                <!--               
                <iframe width="400" height="300"
                src="https://www.youtube.com/embed/1Ii-k7jt1pM?autoplay=1&mute=1">                
                </iframe>--> 
            </div>
            <p></p>
            <div>
                起于<周易> 一陰一陽謂之道。陰陽合德﹐而剛柔有體。<br>

                <管子> 陰陽者天地之大理也。<br>

                <素問> 陰陽者﹐天地之道也﹐萬物之綱紀﹐變化之父母﹐生殺之本始﹐神明之府也。<br>

                天地者﹐萬物之上下也。陰陽者﹐血氣之男女也。左右者﹐陰陽之道路也。<br>

                水火者﹐陰陽之徵兆者。陰陽者﹐萬物之能始也。<br>

                故陰在內﹐陽之守也﹐陽在外﹐陰之使也。<br>

                陰陽可互相轉化:物質可轉化為能量﹐能量可轉化為物質。<br>

                陰陽的無限可分性﹕任何一個陰陽內部都可再分陰陽。<br>

                陰陽學說的基本內容﹕<br>

                1.陰陽對立制約﹕自然界一切事物或現象都存在著相互對立的陰陽如﹕上下,左右,動靜,升降,白天黑夜。 陰陽既是對立又是統一﹐統一是對立的結果。<br>

                陰陽的對立中﹐互相制約﹐互相消長﹐取得了統一﹐即動態的平衡稱之為"陰平陽秘" 。陰盛則陽病﹐陽盛則陰病。<br>

                2.陰陽互根互用﹕是陰陽轉化的內在基礎。<br>
                陰陽互相依存﹐互相為用﹐沒有天就沒有地。氣為血之帥﹐血為氣之舍。<br>

                形體(陰) 是生命的物質基礎﹐功能(陽) 是生命的主要標誌。<br>

                孤陰不生﹐孤陽不長﹐陰陽離決﹐精氣乃絕。<br>

                3.陰陽消長平衡﹕在絕對的運動中包含著相對的靜止﹐在相對的靜止中又蘊伏著絕對的運動﹐在絕對的消長中維持著相對的平衡﹐
                在相對的平衡又存在著絕對的消長。陰消陽長﹐陽消陰長在不斷的運動變化。例日夜的轉換﹐四季的變化,陽盛則熱﹐陰盛則寒。<br>

                4.陰陽相互轉化﹕由量變到質變﹐物極必反。<br>
                四時之變﹐寒暑之勝﹐重陰必陽﹐重陽必陰。故陰主寒﹐陽主熱。<br>

                寒極生熱﹐熱極生寒。超過陰陽正常的消長限度﹐事物必然向著相反的方面轉化。<br>

                人體生命過程是一個動態平衡過程﹐在動態的相對的平衡之中﹐顯示出人體生命過程的生﹐長﹐壯﹐老﹐死。
                中醫認為陰陽是自然界運動發展的根本規律﹐生命是自然界物質運動的高度發展﹐是陰陽二氣相互作用的結果﹐
                "陽化氣" "陰成形" 。五臟六腑之有形實體屬於陰﹐而其功能屬於陽。人體具有溫煦推動作用的氣稱為陽﹐具有營養滋潤作用的氣稱為陰。
            </div>
        </div>
    </div>
{% endblock content %}