{% extends 'base.html' %}
{% load static %}

{% block page_name %}
吳玲瑤專欄
{% endblock page_name %}

{% block content %}
    <div class="card border-primary">
        <div class="card-header bg-primary text-center">
            <h2>明天會更老</h2>                     
        </div>
        <div class="card-body">
            <div class=text-center>  
                <div>Nov 25, 2020</div>
                <div>吳玲瑤</div>     
                <div>
                    <img src="{% static 'images/culture/wulinyao.webp'%}" class="img-fluid">
                </div>
                <p></p>         
                <div>作家吳玲瑤應邀去北加州台灣大學校友會杜鵑花之夜演講，主題是人到中年後的困境，全場七百人笑聲不斷，表示有共鳴。作家吳玲瑤能開開自己年紀的玩笑，也算是一種成長後的開朗豁達。</div>
                <p></p> 
                <a href="https://youtu.be/8PdP9I_q8Dw" target="_blank" class="card-link btn btn-dark m-2">Watch Video</a>
                <!--               
                <iframe width="400" height="300"
                src="https://www.youtube.com/embed/1Ii-k7jt1pM?autoplay=1&mute=1">                
                </iframe>--> 
            </div>
            <p></p>
            <div>
                有首歌唱的是明天會更好，為了是給人信心與鼓勵，其實現實生活裡明天會不會更好不知道，但明天會更老是確定的。歲月要走過，才知道它的凌礪，
                到了某個年紀不得不承認地心引力的厲害，器官樣樣俱在，只是都下垂，所謂的：「萬般皆下垂，唯有血壓高」。有人因此特別忌諱說老，連「我先走一步」也不能說。<br>
                中年後的身體起了很大的變化，蘋果變成梨子型，「坐著打瞌睡，躺著睡不著。想記的記不起來，想忘的忘不掉。」更糟的是哭的時候沒眼淚，笑的時候一直擦淚。
                頭上是[白髮拔不盡，春風吹又生]，男士們的髮型也個個如小說家莫言所說的[地方支持中央]，兩邊往中央梳，遮住稀疏的部分。皮膚不長Pimple開始Wrinkle，
                酒窩變皺紋，皺紋變酒窩，無意中發現本來以為額頭上的幾條紋路只是有抬頭紋，現在卻是不抬頭也有，還好這個時候有老花眼白內障，也不怎麼看得清楚。<br>
                記憶力明顯衰退，從一個房間走到另一個房間，就是想不起來到這兒來要做什麼? 忘了剛剛說過的話，變得一再重複碎碎。一位老先生甚至說他有一次竟然笑到一半忘記為何而笑。<br>
                聽力不行了，一位做了二十幾年百貨公司銷售員的女士，因為耳朵背，被換到抱怨部門去，反正聽不到，隨您抱怨。另一位女士說她坐公車，站在她前面的一個男孩一直跟她講話，
                她因為聽不到就提醒對方說不必講了，那男孩竟然說他只是在嚼口香糖，沒有和她說話啊。<br>
                高科技不來電也是年歲漸長的特徵，家裡一停電，所有的鐘都閃再十二點，有一位朋友要去歐洲玩，女兒說：「媽，現在沒有人用傳統相機，這個數位相機您帶著，只要一按一按就可以了。」
                媽媽沿途拍了五百張，回來往電腦裡一放，怎麼五百張都是鼻子? 原來媽媽把相機拿反。<br>
                少年夫妻老來伴，中年夫妻怎麼辦? 有人形容食之為味，棄之可惜，彼此的壞習慣改不了，有的夫妻是什麼項目都可以吵，從來沒有妥協過，想想婚前是好有話說，婚後變成有話好說。<br>
                每個來到世間的生命，像整存零付一樣，一點一滴地離去，剛剛才是意氣風發的少年，一轉眼變成哀樂中年，還有人要譏笑說這些人是：「知識退化，器官老化，思想僵化，等待火化」。
                所以心裡建設靠自己，要人老心不老，皺紋長在臉上，不長在心上。再想想許多人沒有老的權利，年紀輕輕的就歸道山，生活態度也要調整，以前用健康換金錢，現在要用金錢換健康，
                有所謂的人生三歷，少年爭取的是好學歷，中年成功與否看經歷，年紀越來越大就要看病歷。有好的健康才能說人生如倒吃甘蔗，好日子還在後頭，Robert Browning的詩說的是:<br>
                Grow old along with me,<br>
                The best is yet to be。
            </div>
        </div>
    </div>
{% endblock content %}